<p><%= @prospect.contact1_first_name %>,</p>

<p>Thanks for taking the time to speak with my office today.</p>

<p>I'm looking forward to sharing more about how we help organizations to increase profit by reducing expenses, recoverig overcharges, and taking advantage of available tax incentives.<br>
<br>
As <%= @prospect.intelatek_bda %> discussed with you, we're not brokers and we don't sell insurance, but we do help organizations to reduce their health benefit costs by 10 to 30%, and sometimes much more, by focusing on reducing the claims $$ paid.</p>

<p>This quick video talks about the real problem with healthcare https://player.vimeo.com/video/209009087</p>

<p>I can promise you; whether you choose to utilize our services, or not, you will learn about how to reduce your health benefit costs as a result of this meeting.</p>

<p>&nbsp;</p>
<p>Thanks,</p>
<p><%= @prospect.user.advisor_first_name %> <%= @prospect.user.advisor_last_name %></p>
