<h4>A new file has been uploaded to the Blue Coast CRM for this Shipping Opportunity</h4>
<p>&nbsp;</p>
<p>Prospect/Opportunity: <%= @prospect_attachment.prospect.organization %></p>
<p>File: <%= link_to "#{@prospect_attachment.description}", @prospect_attachment.document_url %></p>
<p>Uploaded by: <%= @prospect_attachment.user.advisor_first_name + ' ' + @prospect_attachment.user.advisor_last_name %></p>
<p>&nbsp;</p>
<p><em>This email has been sent to ShipsStore and the CRM user who uploaded the file, as requested by ShipStore.</em></p>