<h4>A new file has been uploaded to the Blue Coast CRM for this Shipping Opportunity</h4>
<p>&nbsp;</p>
<p>Uploaded by: <%= @prospect_attachment.user.advisor_first_name + ' ' + @prospect_attachment.user.advisor_last_name %></p>
<p>Company/Org: <%= @prospect_attachment.prospect.organization %></p>
<p>File Description: <%= @prospect_attachment.description %></p>

<p>This email has been sent to ShipsStore and the CRM user who uploaded the file, as requested by ShipStore.</p>