<h2>New Comment</h2>
<p>&nbsp;</p>
<p>A new comment has been added to <%= @comment.prospect.organization %></p>
<p>&nbsp;</p>
<p><%= @comment.hcs_content %><%= @comment.pay_content %></p>
<p><em>Comment posted by <%= @comment.user.advisor_first_name + ' ' + @comment.user.advisor_last_name %><em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><em></em>Please note that ONLY the owner of this prospect will receive this automated message and that responses to this email will not be received.</em></p>