<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h3>Virtual Card Payments Q &amp; A</h3>
      
      <p>&nbsp;</p>
      <p><strong>Might my suppliers raise my prices to cover the credit card processing fee?</strong></p>

      <p>1) &nbsp;We assume that their biggest suppliers, the 10% where they have the best discounts and terms, will likely not want to accept the virtual card payments due to the fees, and while we will be calling every supplier, our objective is to enroll the other 90%.</p>
        <p>2) &nbsp;When the enrollers talk to a supplier, they ask if they will be increasing the price, changing discounts, or changing terms, in order to accept the virtual card.  Suppliers must answer this question as “NO” or the supplier will not be enrolled.</p>
      <p>&nbsp;</p>
      <p><strong>What is Standard vs Non-Standard?</strong></p>
      <p><u>Standard:</u> Typically more than 70% of transactions will be standard.  This is where you, and the client get paid the full basis points on the transaction.<br>
      <br>
      <u>Non-Standard:</u> A transaction where more information is provided so that it can qualify for a cheaper rate.  Supplier must be setup to take credit card payments in this way.  Interchange is lower on these transactions and therefore both you and the client are paid less on these transactions.</p>
      <p>&nbsp;</p>
      <p><strong>How do virtual cards translate into capturing lost revenue for my organization?</strong></p>
      <p>Your organization may capture revenue each time you pay one of your vendors with a virtual credit card. With each transaction, your suppliers pay a small fee in exchange for the benefits of accepting credit cards.<br>
      <br>
      Each time your organization utilizes a virtual card-based platform, you capture the lion’s share of those fees back in the form of a quarterly payment. Many of your vendors accept virtual cards today. If you’re paying via check/ACH, that’s revenue lost for your organization every month..<br>
      <br>
      Every $10 million converted to Virtual Card Payments allows an organization to capture up to $150,000 in rebates that would otherwise have been los.</p>
      <p>&nbsp;</p>
      <p><strong>Doesn’t my bank offer virtual payments?</strong></p>
      <p>Some banks do and some don’t. Those that do tend to have less success with vendor enrollment than does an organization dedicated to virtual payment programs. As a result, organizations tend to have to do more work and see less success related to vendor enrollment when using their bank as a virtual payment provider.  Additionally, many organizations like the flexibility of not tying virtual payments to one particular bank. (Kontrol is not a bank.)</p>
      <p>&nbsp;</p>
      <p><strong>How much will it cost for me to get started?</strong></p>
      <p>Absolutely nothing. This program costs nothing to you to implement, not at the outset, and not at any point during your participation with it.</p>
      <p>&nbsp;</p>
      <p><strong>How much does accepting virtual card payments cost my supplier?</strong></p>
      <p>It varies by supplier, with average fees ranging from 1.5% to 3% (comparable to those assessed by credit card companies to vendors). But accepting cards also has benefits to your supplier. Credit cards allow vendors to provide their customers with a greater level of service and convenience..<br>
      <br>
      Additionally, virtual cards are easier and cheaper to process than other forms of payment, and provide both buyer and seller with greatly enhanced payment security. The fact that over 1 Million suppliers accept virtual cards through Kontrol’s technology partner right now speaks to how much they benefit vendors.</p>
      <p>&nbsp;</p>
      <p><strong>Don’t suppliers just raise their prices when being paid by (virtual) card?</strong></p>
      <p>Some suppliers maintain a policy of raising prices to cover fees, despite the fact that it is not considered a best practice. Many cite customer service and quick conversion to cash as the reasons for not doing so. Other firms have already built this cost into their pricing structures and so, in some cases, your organization is already paying for the ability to use card-based virtual payments. In some states, surcharging on credit card transactions is actually prohibited..<br>
      <br>
      Although rare, when a virtual payments provider encounters a supplier that maintains a policy of charging a fee for accepting card, they should
      end the enrollment process immediately.
      <p>&nbsp;</p>
      <p><strong>What if some of my suppliers/vendors won’t accept virtual payments?</strong></p>
      <p>The program is 100% voluntary. However, there are several advantages to your suppliers and vendors. Electronic payments offer an easier reconciliation process and detailed remittance documents. Very often suppliers simply take the lead from their clients regarding which payment method they want to use, because it shows a commitment to customer service, encourages customer loyalty, and helps them develop their own buyer base.</p>
      <p>&nbsp;</p>
      <p><strong>What if a vendor isn’t able to take credit cards?</strong></p>
      <p>For your suppliers that do not have the ability to process credit card transactions, there are often alternative processes (known as “push pay” technology) available that allow your organization to still pay via virtual card..<br>
      <br>
      Push pay allows you to pay vendors that are unable to accept card payments with a card transaction that acts like an ACH. To you and your AP team, there is no difference in the process; for your vendors, the process is simple and requires no changes for them.</p>
      <p>&nbsp;</p>
      <p><strong>How does virtual card work with my accounting system or ERP?</strong></p>
      <p>Your accounting system already generates payment files. Virtual card technology simply directs these payment files to ride on the Visa or MasterCard systems. There are only two requirements for this to work:
      <ol>
        <li>Your accounting system must be able to produce a payment file with the Merchant/Supplier ID, Invoice Number, Invoice Date and Invoice Amount.</li>
        <li>You must be able to identify vendors as having a payment method that is unique from your current forms of payment. So if you now “flag” vendors as being paid via check or ACH, you must flag vendors that are paid via virtual card as “other,” or
      “card,” or some other identifier.</li>
      </ol>
      With over $40 billion in payments already processed via payment card each year, just about every accounting system is able to support these two basic requirements.</p>
      <p>&nbsp;</p>
      <p><strong>How long does it usually take to get up and running with a program like this?</strong></p>
      <p>It usually takes between 6-8 weeks to get an organization up and running.
      All that’s needed to get started is a supplier list (supplier name, address, point of contact, annual AP spend) and the payment file addressed in the question above. Once those two requirements are met, some basic account setup finalizes implementation, and then the vendor enrollment process begins.</p>
      <p>&nbsp;</p>
      <p><strong>Isn’t this too good to be true?</strong></p>
      <p>We get this question a lot. And, honestly, we understand. When’s the last time you really got anything for free, much less thousands of dollars in rebates?</p>
      <p>&nbsp;</p>
      <p><strong>What's the difference between using a Rewards Credit Card and Virtual Card Payments?</strong></p>
      <p>Virtual Card Payments are made through the organization’s existing accounting software and remittance is sent to the supplier with the payment.&nbsp; If they have 500 suppliers being paid through Virtual Cards, they are all paid at the same time, with no manual effort.&nbsp; Virtual Cards use single-use MasterCard numbers so suppliers cannot run them again, and cannot be ran for more than the amount that is being paid.</p>
      <p>Credit cards require providing the card numbers manually, reconciling credit card statements, and having to cancel cards and get a new number every time fraudulent activity occurs, which could be often if paying 500 suppliers with the same card.</p>
      <p>Virtual Card Payments save the Accounts Payable departments both time and money, are more secure than Check, ACH, or Credit Card payments, and provide a rebate.</p>
      <p>Credit Cards are best for one-time purchases where a physical card is needed and not suitable for Accounts Payable.&nbsp;</p>
      <p>&nbsp;</p>
      <p><strong>What is a P Card?</strong></p>
      <p>A "P Card", or "Purchase Card", is typically issued to employees to be used for expenses such as employee travel expenses or office supplies, not for making supplier payments. Some "P Cards" do pay rebates or cash back but their used for on the spot, immediate payments, not for making supplier payments from invoices.<br></p>
      <p><br></p>
      
    </div>
  </div>

</div>
