<div class="container pages">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>&nbsp;</p>
      <h3>Articles</h3>
      <ul>
        <li><a href="https://www.forbes.com/sites/agoodman/2017/03/07/new-virtual-credit-cards-for-businesses-eliminating-the-need-for-checks" target="_blank">New Virtual Credit Cards For Businesses Eliminating The Need For Checks</a> <em>- Forbes</em></li>
        <li><a href="https://www.kontrolpayables.com/blog/electronic-payments-101-the-basics-on-ap-automation-0" target="_blank">The Basics of Virtual Card Payments Technology</a>&nbsp;<em>- Kontrol</em></li>
      </ul>
    </div>
  </div>
</div>