<div class="container pages">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        
      <h4 align="center">HealthCare Savings Appointment Setting Script</h4>
      
      <p style="line-height: 22px;">(first &amp; last name) thank you<br></p>
      
      <p><strong>(Not in/Available)</strong> Could you transfer me to the CFO or Accounting manager?</p>
      
      <p><strong>(Transferred to VM)</strong> You just transferred me to (first &amp; last name) and I got (his/her) voicemail,</p>
      
      <p>could you transfer me to the CFO or Accounting manager?</p>
      
      <p><strong>(Who’s calling?)</strong> (Your full name)</p>
      
      <p><strong>(What company are you with)&nbsp;</strong> (Your company name)</p>
      
      <p><strong>(What is this about?)</strong> claims overcharges on the health benefit premiums</p>
      
      <hr>
      
      <p>Hi (first name) my name is (full name)</p>
      
      <p>Have I caught you at a bad time? I’ll be brief</p>
      
      <p>We’re working with businesses to REDUCE the cost of their health benefits, typically by 12 to 25%, and sometimes much more, and without necessarily changing their broker or changing their health plan provider.</p>

      <p>I'd like to share with you how we save employers an average of $1,500 per employee, each year, on their existing health plan.</p>
      
      <p>Will you be in on (day) (morning/afternoon)?</p>
      
      <p>Great, I can put you on the calendar for a quick 15-minute meeting on (Day at time) if that works for you?</p>
      
      <p>Let's make sure I have the correct address; your address is....</p>
      
      <p>And how do I spell your name?</p>
      
      <p>And what's your title there (name)?</p>
      
      <p>and about how many full-time employees do you have?&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <em>&nbsp;(must have at least 50)</em></p>
      
      <p>Ok, so I have you down for a quick 15-minute meeting on (day) at (time), to discuss how we can help you to substantially reduce the cost of your health benefits.</p>
      
      <p>Please be sure to mark your calendar.</p>
      
      <p>Thank you, have a great day.<br></p>
      
      <hr>
      
      <p><strong>Not Interested&nbsp;&nbsp; or&nbsp;&nbsp; Why Can’t You Just Send it?</strong><br>
      I can promise you this...&nbsp; whether you chose to utilize our services, or not, you will learn how to reduce your health benefit costs as a result of this meeting.&nbsp; Will you be in your office on (day) at (time)?</p>
      
      <p><strong>We have a Broker / We have benefits</strong><br>
      We're not brokers, and we don't sell insurance.&nbsp; Any broker can get you quotes from a few insurance companies, that’s NOT what we do. &nbsp;Our services don’t replace your broker, or your health plan provider.&nbsp; We work on a contingency basis earning 25% of the savings that we generate for our clients, on their existing health plan.&nbsp; Will you be in your office on (day) at (time)?</p>
      
      <p><strong>What Benefits Do You Offer?</strong><br>
      80 to 90% of health benefit costs are driven by your employees’ medical bills.&nbsp; Your broker focuses on premiums.&nbsp; We focus on controlling the bills that dictate the premium.&nbsp; When we meet we’ll share how we do this.&nbsp; Will you be in your office on (day) at (time)?</p>
      
      <p><strong>We renew…</strong><br>
      That makes this the perfect time, you definitely don’t want to wait until renewal coming around.&nbsp; Will you be in your office on (day) at (time)?</p>
      
      <p><strong>Talking Points</strong></p>
      
      <div style="margin-left: 2em">
        <ul>
          <li>We help businesses to increase profit by: reducing expenses, recovering overcharges, and taking advantage of available tax incentives... Employee health benefits is one of the largest expenses for most businesses, and the biggest problem.&nbsp; We can typically reduce health benefit costs by around $1,500, per employee, per year.<br>
          <br></li>
      
          <li>We work on a contingency basis earning 25% of the savings that we generate for your company on your existing health plan.<br>
          <br></li>
      
          <li>If we weren’t confident that we could reduce your costs, we wouldn’t be talking.&nbsp; It’s time that you start seeing decreases instead of increases.<br>
          <br></li>
      
          <li>REDUCE the cost of their health benefits, by an average of MORE than $1,500 per employee, per year.<br></li>
        </ul>
      </div>
    </div>
  </div>