<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h3>Email Sequences</h3>
      
      <p>&nbsp;</p>
        
      <p>We have put together emails that can be used with the Kontrol campaign on Leadfuze.&nbsp; You can use these emails, in the order suggested, or mix them up, add to it etc.</p>
      
      <p>Please let us know which emails (from below or your own) are giving you the most success.</p>
      
      <p>&nbsp;Be sure to change the name, phone number and contact info to your own.</p>
      
      <hr>
      <p>&nbsp;</p>
      
      <h4>Is this SPAM?</h4>
      
      <p>As long as: the first email signature of your first email contains an address, and instructions to opt out e.g. <i>“P.S. Not the person to talk to? Let me know! Don’t want me to follow-up with you? You can let me know that too!”</i>, and as long as you include those emails in subsequent emails, and anyone requesting to be removed, is removed, you are fine.</p>

      <p><a href="https://www.ftc.gov/tips-advice/business-center/guidance/can-spam-act-compliance-guide-business">Learn more about the CAN-SPAM Act here.</a></p>

      <hr>
      <p>&nbsp;</p>

      <h4>Subject Lines</h4>
      
      <p>we have found that using the words "accounts payable" (without the quotes) in lowercase tends to work the best because if the contact is involved in accounts payable, they will tend to open your email.&nbsp; If they are not involved in accounts payable, we really do not care if they open the email.</p>
      
      <p>It is possible to increase opens by tricking the recipient into opening the email however we have found that those recipients mark the emails as spam, which may get your email shut down by your email service provider (Google or Microsoft).</p>
      
      <p>For the first email in the sequence, you would use "accounts payable" as the subject line and for all subsequent emails in the sequence, you would use "RE: accounts payable" as the subject line.</p>
      
      <hr>
      <p>&nbsp;</p>
      <h4>Pro Tips</h4>
      
      <p>Want to be proactive and maximize your results...</p>
      
      <ul>
        <li><strong>Very Proactive:</strong> Pick up the phone and call leads that have opened your emails.&nbsp; Call them the same day.&nbsp; Often you can find their direct phone numbers by Googling their email address.&nbsp; If you cannot find the direct p[hone number, call the organization's main number.<br>
        <br></li>
      
        <li><strong>Proactive</strong>:&nbsp; Send a LinkedIn connection request to those who have opened your email, after you have reviewed their company to make sure that they are a good fit.&nbsp; Once they accept, give them a call or send them an email thanking them for accepting your connection request... etc.<br>
        <br></li>
      
        <li><strong>Somewhat Proactive:&nbsp;</strong> Take a few minutes and personalize the next email in a sequence to an individual who has opened your email.&nbsp; Get personalization info by reviewing their LinkedIn, doing a Google search, or reading their bio on their organization's website.&nbsp;<br>
        <br></li>
      </ul>
      
      <hr>
      
      <h4 align="center"><strong>New Email Sequence February 2018</strong></h4>
      
      <p><br></p>
      
      <p>{{.FirstName}},</p>
      
      <p>Checks are the most expensive way to pay suppliers, yet most organizations are paying 70% of their accounts payable invoices by check.</p>
      
      <p>I would love to speak with you about a strategy that could, not only eliminate up to 50% of your checks, but actually turn Accounts Payable into a profitable department at {{.CompanyName}}.</p>
      
      <p>Do you have 10 minutes some time over the next week?</p>
      
      <p>Thanks,</p>
      
      <p>Chris Cunningham<br>
      (910) 679-6339</p>
      
      <p>Kontrol Payables<br>
      104 South Freya Street<br>
      Red Flag Building<br>
      Suite # 203<br>
      Spokane, WA 99202</p>
      
      <p><em><font style="font-size: 13px;">This email and any attachments contain information, which may be confidential and/or privileged. The information is intended to be for the use of the individual or entity named on this email. If you are not the intended recipient, be aware that any disclosure, copying, distribution or use of the contents of this email is prohibited. If you received this e-mail in error, please delete it and notify the sender by return e-mail or telephone.</font></em></p>
      
      <p><em><font style="font-size: 13px;">P.S. Not the person to talk to? Let me know! Don’t want me to follow-up with you? You can let me know that too!</font></em></p>
      
      <hr>
      
      <p>{{.FirstName}},</p>
      
      <p>Up until now, the cost of operating {{.CompanyName}}’s accounts payable function has been a necessary expense, after all, no one could expect the department that is responsible for making payments to also generate revenue, that is, up until now.&nbsp; This 91 second video will give a simple overview&nbsp;<a href="https://player.vimeo.com/video/247426096" target="_blank">https://player.vimeo.com/video/247426096</a></p>
      
      <p>Would love to speak with you.&nbsp; Do you have 10 minutes some time over the next week?</p>
      
      <p>Chris Cunningham<br>
      (910) 679-6339</p>
      
      <p>------------------------------</p>
      
      <p>Include forward of previous email</p>
      
      <hr>
      
      <p>{{.FirstName}},</p>
      
      <p>Virtual Payments streamline your current Accounts Payable procedures, and not only saves time and money, but also pays {{.CompanyName}} revenue for each transaction.</p>
      
      <p>Check out this article on Forbes “<a href="https://www.forbes.com/sites/agoodman/2017/03/07/new-virtual-credit-cards-for-businesses-eliminating-the-need-for-checks/#72e2408d2e6d">New Virtual Credit Cards for Businesses Eliminating the Need for Checks</a>”</p>
      
      <p>We should talk.&nbsp; When would be the best time for me to call you?</p>
      
      <p>Chris Cunningham<br>
      (910) 679-6339</p>
      
      <p>------------------------------</p>
      
      <p>Include forward of previous email</p>
      
      <hr>
      
      <p>{{.FirstName}},</p>
      
      <p>I wanted to follow up on my email from a few days ago and see if you might have a few minutes, sometime over the next week?<br></p>
      
      <p>Also, did you happen to read our article <a href="https://www.kontrolpayables.com/blog/giving-thanks-savings">Top 5 Ways to Maximize Cost Savings Through Your AP Process</a></p>
      
      <p>Chris Cunningham<br>
      (910) 679-6339</p>
      
      <p>------------------------------</p>
      
      <p>Include forward of previous email</p>
      
      <hr>
      
      <p>{{.FirstName}},<br></p>
      
      <p>We posted and article <a href="https://www.kontrolpayables.com/blog/improving-accounts-payable-processes-in-5-easy-steps">Improving Accounts Payable Processes in 5 Easy Steps</a>.&nbsp; Would love to get your thoughts on it how that would benefit {{.CompanyName}}.</p>
      
      <p>When would be the best time to call you?</p>
      
      <p>Chris Cunningham<br>
      (910) 679-6339</p>
      
      <p>------------------------------</p>
      
      <p>Include forward of previous email</p>
      
      <hr>
      
      <p>{{.FirstName}},<br></p>
      
      <p>We posted and article <a href="https://www.kontrolpayables.com/blog/improving-accounts-payable-processes-in-5-easy-steps">Improving Accounts Payable Processes in 5 Easy Steps</a>.&nbsp; Would love to get your thoughts on it how that would benefit {{.CompanyName}}.</p>
      
      <p>When would be the best time to call you?</p>
      
      <p>Chris Cunningham<br>
      (910) 679-6339</p>
      
      <p>------------------------------</p>
      
      <p>Include forward of previous email</p>
    </div>
  </div>
</div>
