<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h3>Email Sequences</h3>
      
      <p>&nbsp;</p>
        
<h3><font color="#40B2CF">HealthCare Savings Email Sequence</font></h3>

<p>We have put together emails that can be used with the HealthCare Savings campaign on Cliently.&nbsp; You can use these emails, in the order suggested, or mix them up, add to it etc.</p>

<p>Please let us know which emails (from below or your own) are giving you the most success.</p>

<p>Be sure to change the name, phone number and contact info to your own.</p><p><br></p>

<h4><strong>Subject Lines</strong></h4>

<p>we have found that using the words "health benefits billing" (without the quotes) in lowercase tends to work the best because if the contact is involved with paying the health benefits, they will tend to open your email.&nbsp; If they are not involved in paying health benefits, we really do not care if they open the email.</p>

<p>It is possible to increase opens by tricking the recipient into opening the email however we have found that those recipients mark the emails as spam, which may get your email shut down by your email service provider (Google or Microsoft).</p>

<p>For the first email in the sequence, you would use "accounts payable" as the subject line and for all subsequent emails in the sequence, you would use "RE: accounts payable" as the subject line.</p>

<hr>

<h4><strong>Pro Tips</strong></h4>

<p>Be proactive to maximize your results...</p>

<ul>
  <li>Pick up the phone and your call leads.&nbsp; Call those who have opened your emails the same day.<br>
  <br></li>

  <li>Send a LinkedIn connection request to those who have opened your email.&nbsp; Once they accept, give them a call or send them an email thanking them for accepting your connection request... etc.</li>
</ul>

<h4 align="center"><strong>Email Sequence</strong></h4>

<div align="left">
  <br>
</div>

<div align="left">
  <p>{first name},</p>

  <p>The phrase "The definition of insanity is doing the same thing over and over expecting different results" has been incorrectly attributed to Einstein but it is no less true.</p>

  <p>While the cost of employee healthcare continues to rise each year, almost all attempts by employers and the government to reign in these costs have failed. Watch this video to learn about the real problem with healthcare in the U.S. https://player.vimeo.com/video/209009087</p>

  <p>We don't sell insurance, we address the medical billing issue that drives the costs.&nbsp; I would love to share how we are helping our clients to reduce their health benefit cost, typically by 12 to 25%, or more, and without necessarily changing their broker or changing their health plan provider.</p>

  <p>Please give me a call or email me back with the best time to reach you.</p>

  <p>Thanks,</p>

  <p>Your Name</p>

  <p>(000) 000-0000<br>
  you@yourdomain.com<br>
  www.yourdomain.com</p>

  <p>Your Company Name<br>
  Your Street Address<br>
  City, State Zip code</p>

  <p>This email and any attachments contain information, which may be confidential and/or privileged. The information is intended to be for the use of the individual or entity named on this email. If you are not the intended recipient, be aware that any disclosure, copying, distribution or use of the contents of this email is prohibited. If you received this e-mail in error, please delete it and notify the sender by return e-mail or telephone.</p>

  <p>P.S. Not the person to talk to? Let me know! Don’t want me to follow-up with you? You can let me know that too!</p>

  <hr>
   
   <p>{first name},<br></p>

  <p>I know you’re busy. I had been trying to reach you to share how we've helping employers reduce the cost of their health benefits, by 12 to 25%, or more, and without necessarily changing their broker or health plan provider.</p>

  <p>When would be the best time to reach you?</p>

  <p>Your Name<br>
  (000) 000-0000</p>

  <p>------------------------------</p>

  <p>Include forward of previous email</p>

  <hr>
  
  ><p>{first name},<br></p>

  <p>The average family health insurance premium now exceeds the average monthly mortgage payment.</p>

  <p>We don't sell insurance. I'm ________ with _________ and my firm helps organizations to increase profits by reducing expenses, recovering overcharges, and taking advantage of available tax incentives. I would love to share how we're helping employers reduce the cost of their health benefits, typically by 12 to 25%, and sometimes much more, and without necessarily changing their broker or changing their health plan provider.&nbsp; We don't sell insurance, we address the medical billing issue that drives the costs.</p>

  <p>2.5-minute video about how we help: https://player.vimeo.com/video/288374035</p>

  <p>Please give me a call or email me back with the best time to reach you.</p>

  <p>Thanks,</p>

  <p>Your Name</p>

  <p>(000) 000-0000<br>
  you@yourdomain.com<br>
  www.yourdomain.com</p>

  <p>Your Company Name<br>
  Your Street Address<br>
  City, State Zip code</p>

  <p>This email and any attachments contain information, which may be confidential and/or privileged. The information is intended to be for the use of the individual or entity named on this email. If you are not the intended recipient, be aware that any disclosure, copying, distribution or use of the contents of this email is prohibited. If you received this e-mail in error, please delete it and notify the sender by return e-mail or telephone.</p>

  <p>P.S. Not the person to talk to? Let me know! Don’t want me to follow-up with you? You can let me know that too!</p>

<hr>

<p>{first name},</p>

  <p>Now that you know the problem, I would love to share how we've helping employers reduce the cost of their health benefits, by 12 to 25%, or more, and without necessarily changing their broker or health plan provider.</p>

  <p>When would be the best time to reach you?</p>

  <p>Your Name<br>
  (000) 000-0000</p>

  <p>------------------------------</p>

  <p>Include forward of previous email</p>
</div>

<hr>

<div align="left">
  <p>{first name},<br></p>

  <p>Any thoughts?</p>

  <p>Thanks,</p><p>Your First Name<br><br></p><p>Sent from my mobile</p>

  <p>------------------------------</p>

  <p>Include forward of previous email</p></div>





      
  </div>
</div>
