
<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>&nbsp;</p>
      <h2 align="center">Employee HealthCare Benefit Savings</h2>
      <p>&nbsp;</p>
  
      <div class="row">
        <div class="col-md-8">
          <div class="embed-responsive embed-responsive-16by9 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288037609" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <p><br></p>
          <p>You can share this video in emails using this link: <a href="https://player.vimeo.com/video/288037609" target="_blank">https://player.vimeo.com/video/288037609</a>&nbsp;</p>
          <p>You can share this video on LinkedIn using this link: <a href="https://vimeo.com/288037609" target="_blank">https://vimeo.com/288037609&nbsp;</a></p>
          <p>Use this code to embed the video in a website:</p>
          <table width="99%" cellpadding="10" cellspacing="0" watable="1" class="contStyleExcSimpleTable" style="border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #999999;" bgcolor="#D3D3D3">
            <tbody>
              <tr>
                <td style="border-style: solid; border-width: 1px; border-color: gray; background-color: #ffffff;" valign="top"><font color="#000000" style="font-size: 14px;">&lt;iframe src="https://player.vimeo.com/video/288037609" height="300" width="550" webkitAllowFullScreen allowFullScreen mozallowfullscreen frameborder="0"&gt;&lt;/iframe&gt;</font></td>
              </tr>
            </tbody>
          </table>
        </div>        
      </div>
    

      <div class="row">
        <div class="col-md-12">
          <p><br>Employee health benefits is often the second largest expense for employers, just after payroll, and according to surveys, controlling that cost is the number one issue, or problem employers are facing today.</p>
          <p>The Cost of Health Care for employers and their employees, is growing at an unsustainable rate, rising faster than inflation, workers earnings, GDP, and profit margins.</p>
          <p>Less than 30 years ago, family health coverage cost just $200 per month, now the cost to insure the same family is over $1,600 per month.&nbsp; The average family health insurance premium now exceeds the average monthly mortgage payment.</p>
          <p>While the cost goes up, employees are often having to take on a larger portion of the cost of coverage; and, while employees are having to pay more for coverage, they’re seeing their out of pocket costs increase as well.</p>
          <p>Businesses have settled for what they think is the best value, sacrificing benefits, and increasing employee out-of-pocket costs, just to afford coverage.</p>
          <p>Whereas health insurance brokers provide quotes from several insurance companies, we focus on the four primary cost drivers that make up 90% of the cost of an organization's health plan, and we help employers to reduce their overall health benefit costs by 12 and 25%.</p>
        </div>
      </div>
      
      <p>&nbsp;</p>
      <hr>
      <p>&nbsp;</p>
      
      
  <p><font style="font-size: 16px;" face="Arial, sans-serif"><br></font></p>

<p><font style="font-size: 16px;" face="Arial, sans-serif"><strong>Trident Benefits &amp; Consulting, LLC</strong><br>
Phone: 888-546-0254</font></p>

<div style="margin-left: 2em">
  <p><strong>Southern Territory</strong><br>
  Territory Manager: Marcos Vela<br>
  Phone: 888-564-0254 ext 106<br>
  Email: mvela@tridentbenefits.net</p>

  <blockquote>
    <p>Southern Territory States:</p>
  </blockquote>

  <div style="margin-left: 6em">
    <ul>
      <li>Atlanta</li>

      <li>Arkansas</li>

      <li>Florida</li>

      <li>Georgia</li>

      <li>Louisiana</li>

      <li>Mississippi</li>

      <li>North Carolina</li>

      <li>Oklahoma</li>

      <li>South Carolina</li>

      <li>Tennessee</li>

      <li>Texas</li>
    </ul>
  </div>

  <p><strong>Northeastern Territory</strong><br>
  Territory Manager: David Vela<br>
  Phone: 888-564-0254 ext 104<br>
  Email: dvela@tridentbenefits.net</p>

  <blockquote>
    <p>Northeastern Territory States:</p>
  </blockquote>

  <div style="margin-left: 6em">
    <ul>
      <li>Connecticut</li>

      <li>Delaware</li>

      <li>Indiana</li>

      <li>Iowa</li>

      <li>Illinois</li>

      <li>Kansas</li>

      <li>Kentucky</li>

      <li>Maryland</li>

      <li>Massachusetts</li>

      <li>Michigan</li>

      <li>Milwaukee</li>

      <li>Minnesota</li>

      <li>Missouri</li>

      <li>Nebraska</li>

      <li>New Hampshire</li>

      <li>New Jersey</li>

      <li>New York</li>

      <li>North Dakoda</li>

      <li>Ohio</li>

      <li>Pennsylvania</li>

      <li>Road Island</li>

      <li>South Dakoda</li>

      <li>Vermont</li>

      <li>Virginia</li>

      <li>West Virginia</li>

      <li>Wisconsin</li>
    </ul>
  </div>

  <p><strong>Western Territory</strong><br>
  Territory Manager: Andy Martin<br>
  Phone: 888-564-0254 ext 105<br>
  Email: amartin@tridentbenefits.net</p>

  <blockquote>
    <p>Western Territory States:</p>
  </blockquote>

  <div style="margin-left: 6em">
    <ul>
      <li>Alaska</li>

      <li>Arizona</li>

      <li>California</li>

      <li>Colorado</li>

      <li>Idaho</li>

      <li>New Mexico</li>

      <li>Montana</li>

      <li>Nevada</li>

      <li>Oregon</li>

      <li>Utah</li>

      <li>Washington</li>

      <li>Wyoming</li>
    </ul>
  </div>
</div>    
      
      
      
      
      <h4><strong>Requirements</strong></h4>
      
      <ul>
        <li>50+ lives (100+ lives in NY &amp; CA)<br>
          <br>
          <p style="background-color: #FFFF00"><strong>Important Notice</strong>:  <em>In order to offer or represent the services of Entrust, Inc., please: read, review, and <a href="http://healthcaresavings.co/docs/Subcontractor_Agreement_with_Blue_Coast_Savings_Consulants.pdf">sign this Subcontractor Agreement.</a> Please email the signed agreement to <a mailto:"compliance@entrustinc.com">compliance@entrustinc.com</a></em></p>
        </li>
      </ul>
      
      <p>&nbsp;</p>
      <hr>
      <p>&nbsp;</p>


      <h4><strong>Steps to the Sale</strong></h4>
      
      <p>&nbsp;</p>
      
      <ol>
        <li>
          <strong>Identify prospective clients</strong>
      
          <blockquote>
            Any business with 50 or more employees (100+ in NY &amp; CA) that offers health benefits to their employees.
          </blockquote><br>
        </li>
      
        <li>
          <strong>Schedule Meetings</strong>
      
          <blockquote>
            The best way to get meetings with prospective clients for HealthCare savings is by calling them.&nbsp; If you will be making&nbsp; the cold calls yourself, this&nbsp;<a href="/page-18149">Phone Script</a>&nbsp;will help you to secure meetings with prospective clients.<br>
            <br>
            <em>We recommend that you do NOT send any form of reminder for the 1st meeting since it is likely to prompt a cancellation, regardless of the source of the meeting.</em>
          </blockquote><br>
        </li>
      
        <li>
          <strong>CRM</strong>
      
          <blockquote>
            The HealthCare Savings CRM is a critical part of our sales process.&nbsp; The CRM enables everyone to work together and to be on the same page in supporting you and your prospects and therefore it is mandatory that you use it and that you update it.<br>
            <br>
            All prospects with whom you are scheduled to do an intro or overview presentation for, or who you have already done an intro presentation for, should be put in the CRM.<br>
            <br>
            When entering a new prospect, the minimum information that you must enter is the: company or organization's name, approximate number of employees (must be an integer), and the date of your intro or overview presentation.<br>
            <br>
            Please note that every new prospect entered in the CRM, automatically has a status of "Intro Presentation Scheduled".&nbsp;&nbsp;You can easily edit the prospect once it is created, adding information, to include contacts, notes, next actions and more.<br>
            <br>
            If you have already conducted an intro presentation, the status should not still be "Intro Presentation Scheduled".&nbsp; You should always have a "Next Action" and Next Action date.&nbsp;&nbsp;If all of the meeting dates, and the next action date, is in the past, you will see, we will see, and Entrust will see, an alert that the prospect needs to be updated.&nbsp; If the prospect has a “No Sale” status, you will not see an update alert.<br>
            <br>
          </blockquote><br>
        </li>
      
        <li>
          <strong>First Meeting</strong>
      
          <blockquote>
            It is imperative that you are on-location, in-person, face-to-face, for this meeting.&nbsp; Arrive 5 minutes early for your meeting and dressed appropriately.<br>
            <br>
            Conduct high level intro presentation and then close for a 2nd meeting where Cas Sharp will present, answer questions, and close for getting the data necessary to produce a quote.&nbsp; Use the intro Presentation Powerpoint or just use the Intro Meeting script, whichever way you are more comfortable.<br>
            <br><span style="background-color: rgb(255, 255, 0);">Please Note:&nbsp; 90 Degree Benefits requires that you must complete the (HCSQ)&nbsp;
            <a href="http://healthcaresavings.co/docs/HCSQ.docx" target="_blank">HealthCare Savings Questionaire&nbsp;</a>and enter the results in the CRM.<br>
            </span>
            
            <br>
              <div class="embed-responsive embed-responsive-16by9 clearfix">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/301932854" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
      
            
            <ul>
              <br>
              <li><em><em>Download&nbsp;<a href="http://healthcaresavings.co/docs/Intro_Presentation.pptx" target="_blank">Intro Presentation PowerPoint Slides with Script in Presenter Notes</a></em></em><br></li>
              <li><em><em>Download the <a href="http://healthcaresavings.co/docs/Employee%20HealthCare%20Benefit%20-%20Intro%20Script.docx" target="_blank">Intro Meeting Script Only</a></em></em></li>
      
              <li><em>Schedule Subject matter Expert Presentation with Cas Sharp <a href="https://calendly.com/cas-sharp/eb">https://calendly.com/cas-sharp/eb</a>&nbsp;(will receive meeting info)</em></li>
            </ul>
          </blockquote><br>
        </li>
      
        <li>
          <strong>SME Presentation</strong>
      
          <blockquote>
            Again, it is imperative that you are on-location, in-person, face-to-face, for this meeting.&nbsp; Arrive 5 minutes early for your meeting and dressed appropriately.<br>
            <br>
            Cas Sharp of 90 Degree Benefits (or other 90 Degree Benefits SME)&nbsp; will conduct the Healthcare Savings Subject Matter Expert Presentation, answer questions for the Organization's team, and close for obtaining data.
          </blockquote><br>
        </li>
      
        <li>
          <strong>Data for Proposal</strong>
      
          <blockquote>
            Assuming that Cas, or someone at 90 Degree benefits has presented to employer, 90 Degree benefits has committed to following up to get the data necessary to build a proposal, from employers, FOR you.
          </blockquote><br>
        </li>
      
        <li>
          <strong>Proposal Meeting</strong>
      
          <blockquote>
            Will be conducted by 90 Degree Benefits; however, you MUST be present at your prospective client's office for this meeting and the meeting MUST include the decision makers (e.g., CFO, CEO, Owner, President).<br>
            <br>
          </blockquote>
        </li>
      
        <li>
          <strong>Final Proposal&nbsp;&nbsp;</strong>
      
          <blockquote>
