<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <!--<h3 align="center">Employee HealthCare Benefit Savings</h3>-->
      <br>
      <br>
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9 clearfix">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288374035" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p><br></p>
          <p>You can share this video in emails using this link: <a href="https://player.vimeo.com/video/288374035" target="_blank">https://player.vimeo.com/video/288374035</a>&nbsp;</p>
          <p>You can share this video on LinkedIn using this link: <a href="https://vimeo.com/288374035" target="_blank">https://vimeo.com/288374035&nbsp;</a></p>
          <p>Use this code to embed the video in a website:</p>
          <table width="99%" cellpadding="10" cellspacing="0" watable="1" class="contStyleExcSimpleTable" style="border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #999999;" bgcolor="#D3D3D3">
            <tbody>
              <tr>
                <td style="border-style: solid; border-width: 1px; border-color: gray; background-color: #ffffff;" valign="top"><font color="#000000" style="font-size: 14px;">&lt;iframe src="https://player.vimeo.com/video/288374035" height="300" width="550" webkitAllowFullScreen allowFullScreen mozallowfullscreen frameborder="0"&gt;&lt;/iframe&gt;</font></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/289939503" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>      
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/290763953" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>  
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/295919214" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/295919185" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>  
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288037609" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288037724" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <a href="https://player.vimeo.com/video/209009087" target="_blank">https://player.vimeo.com/video/209009087</a>        
        </div>
        <div class="col-md-6">
          <a href="https://player.vimeo.com/video/209790631">https://player.vimeo.com/video/209790631</a>        
        </div>
      </div>
      
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288037497" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <a href="https://player.vimeo.com/video/163536932">https://player.vimeo.com/video/163536932</a>
        </div>
        
        <div class="col-md-6">

        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h4><strong>Docs &amp; Brochures</strong></h4>
          <p><a href="email-sequences">HealthCare Savings Email Series</a></p>
          <p><a href="http://healthcaresavings.co/docs/Overview.pdf" target="_blank">Overview</a></p>
          <p><a href="http://healthcaresavings.co/docs/DirectPrimaryCare.pdf" target="_blank">Direct Primary Care</a></p>
          <p><a href="http://healthcaresavings.co/docs/White_Paper_RBMAC.pdf" target="_blank">Referenced Based Pricing White Paper</a></p>
          <p><a href="http://healthcaresavings.co/docs/Proactive_RBP_Case_Studies.pdf" target="_blank">Proactive Referenced Based Pricing Case Studies</a></p>
          <p><a href="http://healthcaresavings.co/docs/Rx_example.pdf" target="_blank">Pharmacy Benefit Sample Proposal</a></p>
          <p><a href="" target="_blank">Entrust Engagement Presentation</a></p>
          <p><a href="http://healthcaresavings.co/docs/2018-milliman-medical-index.pdf" target="_blank">2018 Milliman Medical Index</a></p>
          
          
          <p>&nbsp;</p>
          <h4><strong>News</strong></h4>
          <p align="left"><a href="">Blue Coast Slashing Employee HealthCare Benefit Costs by 12 to 25%</a></p>
          <p align="left"><br></p>
          <h4><strong>Compliance Update</strong></h4>
          <p><a href="http://healthcaresavings.co/docs/CU81-2017-August-IRS_Letters_Update.pdf" target="_blank">Aug 2017 - IRS Letters</a></p>
          <p><a href="http://healthcaresavings.co/docs/CU82-2017-November-Potential_Employer_Mandate_Pentalty_IRS_Letter_226J.pdf"
            target="_blank">Nov 2017 - Potential Employer Mandate Penalty IRS Letter</a></p>
          <p><a href="http://healthcaresavings.co/docs/CU84-2018-January-Federal_Budget.pdf" target="_blank">Jan 2018 - Federal Budget</a></p>
          <p><a href="http://healthcaresavings.co/docs/CU85-2018-March-Preventive_Services_Update.pdf" target="_blank">Mar 2018 - Preventive Services Update</a></p>
          <p><a href="http://healthcaresavings.co/docs/CU86-2018-April-CMS_Final_Rule.pdf" target="_blank">Apr 2018 - CMS Final Rule</a></p>
          <p><br></p>
        </div>
        <div class="col-md-6">
          <div class="double-border">
            <p>&nbsp;</p>
            <h4><strong>&nbsp;&nbsp;Presenting to Prospective Clients</strong></h4>
            <ol>
              <li><a href="http://healthcaresavings.co/docs/Employee_HealthCare_Benefit-Intro_Script.pdf" target="_blank">a) Intro Presentation Script</a><em><font style="font-size: 12px;">&nbsp;(updated 9/27/18)</font></em><br>
              <br>
              b) Master Presentation PPT Deck <em><font style="font-size: 12px;">&nbsp;(With script in presenter notes - See BC Resource Center)</font></em><br>
              <br>
              <a href="http://healthcaresavings.co/docs/Alternate_Intro_Presentation.pptx" target="_blank">
              c) Alternate Presentation PPT Deck</a> <em><font style="font-size: 12px;">&nbsp;(With script in presenter notes)&nbsp;(updated 10/16/18)</font>
              </em><br>
              <br></li>
              <li>Complete the HCSQ (HealthCare Savings Questionaire) in CRM.<br>
              <br></li>
              <li><a href="https://calendly.com/bluecoast-1/entrust" target="_blank">Check availability &amp; schedule presentation w/Entrust</a></li>
            </ol>
            <br>
          </div>

          <br>
          <br>
          <p align="center"><a href="http://www.intelatek.com/bc" target="_blank" class="btn btn-slate btn-block">Order HealthCare Savings Meetings</a><br></p>
          <br>
          <h4><strong>Requirements</strong></h4>
          <ul>
            <li>50+ lives (100+ lives in NY &amp; CA)&nbsp;&nbsp;<br></li>
          </ul>
  
        </div>          
        
      </div>

    </div>
  </div>    
</div>      
