  <!--<div class="container pages">-->
  
  <!--  <div class="row">-->
  <!--    <div class="col-md-10 col-md-offset-1">-->
  <!--    <h3>Virtual Payments for Accounts Payable</h3>-->
      
  <!--    <p>Virtual Card Payments is an Accounts Payable payment alternative to Check and ACH.</p>-->
      
  <!--    <p>Our Virtual Payment platform works with a business's existing accounting software, and there’s no need to change banking relationships. Virtual Payments save businesses both time and money, and Virtual Payments pay the business a rebate for every transaction. Every $10 million in Virtual Payments could add up to $150,000 in additional revenue to their bottom line. Businesses have to pay their suppliers anyway, so why not turn the Accounts Payable department into additional revenue.</p>-->
      
  <!--    <p><strong>COMPENSATION:</strong> This service pays you a residual income, on each business, every month, for as long as they are using our virtual card payments platform. Unlike other services, your clients pay no fees regardless of savings (and revenue) generated.  Your clients' vendors and suppliers pay standard credit card fees to receive payments.  Both your clients additional revenue (rebate) and your compensation, come from those credit card processing interchange fees.</p>-->
  <!--    </div>-->
  <!--  </div>-->


  <!--  <div class="row">-->
  <!--    <div class="col-md-10 col-md-offset-1 center">-->
  <!--      <p>&nbsp;</p>-->
  <!--      <a href="training-vids", class="btn btn-default btn-lg">Training Webinar Videos</a>-->
  <!--      <% if current_user.group == "bc" || current_user.group == "all" %>-->
  <!--        &nbsp; &nbsp; &nbsp; &nbsp; <a href="lead-generation", class="btn btn-slate btn-lg">Order Lead Generation</a></p>    -->
  <!--      <% end %>-->
  <!--    </div>-->
  <!--  </div>-->


  <!--  <div class="row">-->
      
  <!--    <div class="col-md-10 col-md-offset-1">-->
  <!--      <hr>-->
  <!--      <h4>Kontrol Overview Presentation<br></h4>-->
  <!--      <ul>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Animated_Overview_Presentation.pptx" target="_blank">PPT Sales Deck - Kontrol Overview Presentation</a>&nbsp;<em>(Animated & Script in Notes) New 7/18/18</em></li>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Overview_Presentation.pptx" target="_blank">PPT Sales Deck - Kontrol Overview Presentation</a>&nbsp;<em>(Script in Notes) New 7/18/18</em></li>-->
  <!--        <li><a href="http://kpaccountspayable.com/ResourceCenterDocs/Overview_Presentation.pdf" target="_blank">PDF Sales Deck - Kontrol Overview Presentation</a>&nbsp;<em> New 7/18/18</em></li>-->
  <!--        <li><a href="http://kpaccountspayable.com/ResourceCenterDocs/Overview_Presentation_Script.pdf" target="_blank">Kontrol Overview Presentation SCRIPT</a>&nbsp;<em> New 7/18/18</em></li>-->
  <!--      </ul>-->
  <!--      <p>&nbsp;</p>-->
  <!--    </div>-->
      
      
  <!--    <div class="col-md-10 col-md-offset-1">-->

  <!--      <p>&nbsp;</p>-->
  <!--      <h4>Booking Prospect Presentations</h4>-->
  <!--      <p><br>-->
  <!--      <strong>Supplier Match Presentation &amp; Platform Demo</strong></p>-->
  <!--      <p>Tom Parrish's Calendar is no longer available for viewing his schedule.&nbsp; All requests for a Supplier Match Presentation / Platform Demo <u>MUST</u> go through Lesley Ramsey (Support) <a href="mailto:support@kpaccountspayable.com">support@kpaccountspayable.com</a> (800) 467-2310 Ext 14 &nbsp; ONLY Lesley has access to Tom's calendar.</p>-->
  <!--      <p>-->
  <!--        <br>-->
  <!--      <strong>Kontrol Overview Presentations</strong><br></p>-->
        

        
  <!--    </div>-->
      

      
  <!--  </div>-->
    
    
  <!--  <div class="row">-->
  <!--    <div class="col-md-6 col-md-offset-3 dark-box">-->
        
  <!--      <h4>Live Accounts Payable Webinar with Q&A</h4>-->
        
  <!--      <p><br>-->
  <!--      Not ready to present on your own but have some prospects that you want to send to a Kontrol Overview Presentation?&nbsp; Now you can send those prospects to regularly scheduled Live Kontrol Overview Presentation Webinars followed by Q&A.<br>&nbsp;-->
  <!--      </p>-->
        
  <!--      <p>&nbsp; &nbsp; &nbsp;  When? &nbsp;&nbsp; Thursdays at 12:00 EST<br>-->
  <!--        <br>-->
  <!--        &nbsp; &nbsp; &nbsp;  Where? &nbsp; Have your prospects register at: <a href="http://www.kpaccountspayable.com/attend" target="_blank">www.kpaccountspayable.com/attend</a></p>-->
  <!--    </div>-->
  <!--  </div>-->
  
  <!--  <p>&nbsp;</p>-->
    
  <!--  <div class="row">-->
  <!--    <div class="col-md-10 col-md-offset-1">-->
  <!--      <p><em>Please call your prospects just before the presentation to remind them to attend and again just after the presentations to answer any questions (or get their questions so that you can get back to them with answers) and email them the supplier match template.&nbsp;</em></p>-->
  <!--      <hr>-->
  <!--    </div>-->
      
  <!--  </div>-->
    
  <!--  <div class="row">-->
  <!--    <div class="col-md-5 col-md-offset-1">-->
  <!--      <h4>Tom's Kontrol Intro Presentation<br></h4>-->
  <!--      <ul>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Toms%20Kontrol%20Intro%20Presentation_3.6.18.pptx" target="_blank">PPT Sales Deck - Intro to Kontrol</a>&nbsp;<em>New 3/06/18</em></li><li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Toms%20Kontrol%20Intro%20Presentation_1.17.18.pptx">PPT Sales Deck - Intro to Kontrol (Script in Notes)</a>&nbsp;<em>1/17/18</em><br></li>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Tom%20Parrish%20Intro%20Script.docx">Tom's Intro to Kontrol Script Word Doc</a>&nbsp;&nbsp;<em>1/17/18</em></li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--    <div class="col-md-5">-->
  <!--      <h4>Chris' Kontrol Intro Presentation</h4>-->
  <!--      <ul>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Chris%20Intro%20Presentation%20Deck%203-19-18.pptx" target="_blank">PPT Sales Deck - Intro to Kontrol</a>&nbsp;3/19/18</li><li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Chris%20Intro%20Presentation%20PDF%203-19-18.pdf" target="_blank">PDF Sales Deck - Intro to Kontrol</a>&nbsp;3/19/18</li><li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Chris%20Intro%20Presentation%20with%20Speaker%20Notes%20-%203-19-18.pptx" target="_blank">PPT Sales Deck - Intro to Kontrol (Script in Notes)</a>&nbsp;3<em>/19/18</em></li>-->
        
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Intro%20to%20Kontrol%20Presentation%20Script%20-%20%20Chris%20C%203-19-18.docx" target="_blank">Intro Presentation Word Doc</a> 3/19/18</li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--  </div>-->
    
  <!--  <div class="row">-->
  <!--    <div class="col-md-10 col-md-offset-1">-->
  <!--      <hr>-->
  <!--      <p>&nbsp;</p>-->
  <!--      <h4>Kontrol Overview Videos&nbsp; &nbsp;(watch for updates)</h4>-->
  <!--      <p>Often you will find yourself speaking with a Controller, Accounts Payable Manager, etc. who must then convey the Kontrol Virtual card Payments message to the final decision maker, such as a CFO or CEO.&nbsp; The following videos may be shared with prospects for that purpose.</p>-->
  <!--    </div>-->
  <!--  </div>-->
    
  <!--  <p>&nbsp;</p>-->
    
  <!--  <div class="row">-->
  <!--    <div class="col-md-5 col-md-offset-1">-->
  <!--      <center>-->
  <!--      <p><strong>Tom's Kontrol Intro Presentation</strong></p>-->
  <!--      <div class="embed-responsive embed-responsive-16by9 clearfix">-->
  <!--        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/251575693" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
  <!--      </div>-->
  <!--      <p>Share this link in an email:&nbsp;&nbsp; <a href="https://player.vimeo.com/video/251575693" target="_blank">https://player.vimeo.com/video/251575693</a></p>-->
  <!--      </center>-->
  <!--    </div>-->
  <!--    <div class="col-md-5">-->
  <!--      <center>-->
  <!--      <p><strong>Chris' Kontrol Overview</strong> &nbsp;&nbsp;&nbsp; <em>Updated 3/13/18</em></p>-->
  <!--      <div class="embed-responsive embed-responsive-16by9 clearfix">-->
  <!--        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/255750862" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
  <!--      </div>-->
  <!--      <p>Share this link in an email:&nbsp;&nbsp; <a href="https://player.vimeo.com/video/255750862" target="_blank">https://player.vimeo.com/video/255750862</a></font></font></p>-->
  <!--      </center>-->
  <!--    </div>    -->
  <!--  </div>-->
  
  <!--  <p>&nbsp;</p>-->
    
  <!--  <div class="col-md-10 col-md-offset-1 dark-box">-->
      
  <!--    <div class="row">-->
  <!--      <div class="col-md-6">-->
  <!--        <h4>Short Overview Video for Marketing</h4>-->
  <!--        <p>You can share this video in emails using this link:<br>-->
  <!--        <a href="https://player.vimeo.com/video/272852660" target="_blank" style="">https://player.vimeo.com/video/272852660</a><br>-->
  <!--        <br>-->
  <!--        You can share this video on LinkedIn using this link:<br>-->
  <!--        <a href="https://vimeo.com/272852660" target="_blank" style="">https://vimeo.com/272852660</a>-->
  <!--        <hr>-->
  <!--        Use this code to embed the video in a website:<br></p>-->
  <!--        <table width="99%" cellpadding="10" cellspacing="0" watable="1" class="contStyleExcSimpleTable" style="border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #999999;" bgcolor="#D3D3D3">-->
  <!--          <tbody>-->
  <!--            <tr>-->
  <!--              <td style="border-style: solid; border-width: 1px; border-color: gray; background-color: #ffffff;" valign="top"><font color="#000000">&lt;iframe src="https://player.vimeo.com/video/272852660" height="300" width="550" webkitAllowFullScreen allowFullScreen mozallowfullscreen frameborder="0"&gt;&lt;/iframe&gt;</font></td>-->
  <!--            </tr>-->
  <!--          </tbody>-->
  <!--        </table>-->
  <!--      </div>      -->
        
  <!--      <div class="col-md-6">-->
  <!--        <div class="embed-responsive embed-responsive-16by9 clearfix">-->
  <!--          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/272852660" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--  <p>&nbsp;</p>-->
  <!--  <hr>-->
  <!--  <p>&nbsp;</p>-->
      
  <!--    <div class="row">-->
  <!--      <div class="col-md-6">-->
  <!--        <div class="embed-responsive embed-responsive-16by9 clearfix">-->
  <!--          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/261833058" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
  <!--        </div>-->
  <!--      </div>-->
  
  <!--      <div class="col-md-6">-->
  <!--        <h4>Overview Video for Marketing</h4>-->
  <!--        <p>You can share this video in emails using this link:<br>-->
  <!--        <a href="https://player.vimeo.com/video/261833058" target="_blank" style="">https://player.vimeo.com/video/261833058</a><br>-->
  <!--        <br>-->
  <!--        You can share this video on LinkedIn using this link:<br>-->
  <!--        <a href="https://vimeo.com/261833058" target="_blank" style="">https://vimeo.com/261833058</a><br>-->
  <!--        <hr>-->
  <!--        Use this code to embed the video in a website:<br></p>-->
  <!--        <table width="99%" cellpadding="10" cellspacing="0" watable="1" class="contStyleExcSimpleTable" style="border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #999999;" bgcolor="#D3D3D3">-->
  <!--          <tbody>-->
  <!--            <tr>-->
  <!--              <td style="border-style: solid; border-width: 1px; border-color: gray; background-color: #ffffff;" valign="top"><font color="#000000">&lt;iframe src="https://player.vimeo.com/video/261833058" height="300" width="550" webkitAllowFullScreen allowFullScreen mozallowfullscreen frameborder="0"&gt;&lt;/iframe&gt;</font></td>-->
  <!--            </tr>-->
  <!--          </tbody>-->
  <!--        </table>-->
  <!--      </div>-->
  <!--    </div>-->
      
  <!--  <p>&nbsp;</p>-->
  <!--  <hr>-->
  <!--  <p>&nbsp;</p>-->
      
  <!--    <div class="row">-->
  <!--      <div class="col-md-6">-->
  <!--        <h4>Short Overview Video for Marketing</h4>-->
  <!--        <p>You can share this video in emails using this link:<br>-->
  <!--        <a href="https://player.vimeo.com/video/261662534" target="_blank" style="">https://player.vimeo.com/video/261662534</a><br>-->
  <!--        <br>-->
  <!--        You can share this video on LinkedIn using this link:<br>-->
  <!--        <a href="https://vimeo.com/261662534" target="_blank" style="">https://vimeo.com/261662534</a>-->
  <!--        <hr>-->
  <!--        Use this code to embed the video in a website:<br></p>-->
  <!--        <table width="99%" cellpadding="10" cellspacing="0" watable="1" class="contStyleExcSimpleTable" style="border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #999999;" bgcolor="#D3D3D3">-->
  <!--          <tbody>-->
  <!--            <tr>-->
  <!--              <td style="border-style: solid; border-width: 1px; border-color: gray; background-color: #ffffff;" valign="top"><font color="#000000">&lt;iframe src="https://player.vimeo.com/video/261662534" height="300" width="550" webkitAllowFullScreen allowFullScreen mozallowfullscreen frameborder="0"&gt;&lt;/iframe&gt;</font></td>-->
  <!--            </tr>-->
  <!--          </tbody>-->
  <!--        </table>-->
  <!--      </div>      -->
        
  <!--      <div class="col-md-6">-->
  <!--        <div class="embed-responsive embed-responsive-16by9 clearfix">-->
  <!--          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/261662534" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--  <p>&nbsp;</p>-->
  <!--  <hr>-->
  <!--  <p>&nbsp;</p>    -->

  <!--    <div class="row">-->
  <!--      <div class="col-md-6">-->
  <!--        <div class="embed-responsive embed-responsive-16by9 clearfix">-->
  <!--          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/247426096" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
  <!--        </div>-->
  <!--      </div>-->
  
  <!--      <div class="col-md-6">-->
  <!--        <h4>Short Animated Video for Marketing</h4>-->
  <!--        <p>You can share this video in emails using this link:<br>-->
  <!--        <a href="https://player.vimeo.com/video/247426096" target="_blank" style="">https://player.vimeo.com/video/246301086</a><br>-->
  <!--        <br>-->
  <!--        You can share this video on LinkedIn using this link:<br>-->
  <!--        <a href="https://vimeo.com/247426096" target="_blank" style="">https://vimeo.com/246301086</a>-->
  <!--        <hr>-->
  <!--        Use this code to embed the video in a website:<br></p>-->
  <!--        <table width="99%" cellpadding="10" cellspacing="0" watable="1" class="contStyleExcSimpleTable" style="border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #999999;" bgcolor="#D3D3D3">-->
  <!--          <tbody>-->
  <!--            <tr>-->
  <!--              <td style="border-style: solid; border-width: 1px; border-color: gray; background-color: #ffffff;" valign="top"><font color="#000000">&lt;iframe src="https://player.vimeo.com/video/247426096" height="300" width="550" webkitAllowFullScreen allowFullScreen mozallowfullscreen frameborder="0"&gt;&lt;/iframe&gt;</font></td>-->
  <!--            </tr>-->
  <!--          </tbody>-->
  <!--        </table>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  
  
  <!--  <div class="row">-->
  <!--    <div class="col-md-10 col-md-offset-1">-->
  <!--      <p>&nbsp;</p>-->
  <!--      <h4>Sales Docs</h4>    -->
  <!--    </div>-->
  <!--  </div>-->
    
    
  <!--  <div class="row">-->
  <!--    <div class="col-md-5 col-md-offset-1">-->
  <!--      <ul>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Kontrol_One_Page_Overview.pdf" target="_blank">One Page Hand Out (customizable)</a></li>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Elevator%20Pitch.pdf" target="_blank">Kontrol's Elevator Pitch</a></li>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Email%20Templates.Kontrol.doc" target="_blank">Kontrol's Email Templates</a></li>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/KontrolFAQsEbook.2017.pdf" target="_blank">Kontrol's FAQs Ebook 2017</a></li>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Kontrol%20Info%20Sheet%202018.pdf" target="_blank">Kontrol Info Sheet 2018</a></li>-->
  <!--        <li><a href="https://www.kontrolpayables.com/blog" target="_blank">Kontrol Payables Blog</a></li>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Kontrol%20-%20Payment%20File%20Instructions%207.17.pdf" target="_blank">Kontrol - Payment File Instructions</a>&nbsp;7/17</li>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Kontrol%20Vendor%20Enrollment%20giveaway.final2018.pdf" target="_blank">Kontrol Vendor Enrollment giveaway</a>&nbsp; 3/21/18</li>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDoc/Sample%20Rep%20SM%20Deck.pptx" target="_blank">PPT Sales Deck EXAMPLE Supplier Match</a></li>-->
  <!--      </ul>-->
  <!--    </div>-->
    
  <!--    <div class="col-md-5">-->
  <!--      <ul>-->
  <!--        <li><a href="articles">Articles</a><br></li>      -->
  <!--        <li><a href="email-sequences">Email Sequences for Kontrol</a> (for LeadFuze etc)<br></li>-->
  <!--        <li><a href="invite-webinar">Inviting prospects to webinars</a></li>-->
  <!--        <li><a href="references">References</a><br></li>-->
  <!--        <li><a href="steps-to-sale">Steps to the Virtual Card Payment Sale</a>&nbsp;3/10/18</li>-->
          <!--<#% if current_user.group == "bc" || current_user.group == "all" %>-->
          <!--  <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Kontrol%20Commission%20Breakdown.pdf" target="_blank">Kontrol Commission Breakdown</a></li>-->
          <!--<#% end %>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Virtual%20Payments%20101%20corporate.2017.pdf">Virtual Payments 101</a></li>-->
  <!--        <li><a href="answers">Virtual Card Payments <strong>Q &amp; A</strong></a></li>-->
  <!--        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/Supplier%20Match%20Template.xlsx" target="_blank">Supplier Match Template</a></li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <div class="row">-->
  <!--    <div class="col-md-10 col-md-offset-1 center">-->
  <!--      <p>&nbsp;</p>-->
  <!--      <a href="training-vids", class="btn btn-default btn-lg">Training Webinar Videos</a>-->
  <!--      <% if current_user.group == "bc" || current_user.group == "all" %>-->
  <!--        &nbsp; &nbsp; &nbsp; &nbsp; <a href="lead-generation", class="btn btn-slate btn-lg">Order Lead Generation</a></p>    -->
  <!--      <% end %>-->
  <!--    </div>-->
  <!--  </div>-->
    
  <!--</div>-->