<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>&nbsp;</p>
      <h3 align="center">Employee HealthCare Benefit Savings</h3>
      <p>&nbsp;</p>
      <div class="row">
        <div class="col-md-8">
          <p><br>Employee health benefits is often the second largest expense for employers, just after payroll, and according to surveys, controlling that cost is the number one issue, or problem employers are facing today.</p>
          <p>The Cost of Health Care for employers and their employees, is growing at an unsustainable rate, rising faster than inflation, workers earnings, GDP, and profit margins.</p>
          <p>Less than 30 years ago, family health coverage cost just $200 per month, now the cost to insure the same family is over $1,600 per month.&nbsp; The average family health insurance premium now exceeds the average monthly mortgage payment.</p>
          <p>While the cost goes up, employees are often having to take on a larger portion of the cost of coverage; and, while employees are having to pay more for coverage, they’re seeing their out of pocket costs increase as well.</p>
          <p>Businesses have settled for what they think is the best value, sacrificing benefits, and increasing employee out-of-pocket costs, just to afford coverage.</p>
          <p>Whereas health insurance brokers provide quotes from several insurance companies, we focus on the four primary cost drivers that make up 90% of the cost of an organization's health plan, and we help employers to reduce their overall health benefit costs by 12 and 25%, without necessarily switching their broker or health plan provider.</p>
        </div>
        <div class="col-md-4">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288375019" width="316" height="422" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>
      
      <hr>
      
      <h4><strong>Fee &amp; Compensation</strong></h4>
      
      <p>Clients pay a consulting fee of 25% of the savings, on a contingency basis, and, if changing their health plan $25 per employee, per month when.&nbsp; Blue Coast Consultants compensation is equal to half of the consulting fee(s).<br></p>
      
      <hr>
      
      <h4><strong>Requirements</strong></h4>
      
      <ul>
        <li>50+ lives (100+ lives in NY &amp; CA)<br></li>
      </ul>
      
      <hr>
      
      <h4><strong>Steps to the Sale</strong></h4>
      
      <ol>
        <li><strong>Identify prospective clients</strong>. Any business with 50 or more employees (100+ in NY &amp; CA) that offers health benefits to their employees.&nbsp; You can use Cliently or LinkedIn to identify prospects.<br>
        <br></li>
      
        <li><strong>Schedule Meetings.</strong>&nbsp; Contact prospective clients by phone to schedule an in-person meeting to discuss helping them to reduce health benefit costs by 12 to 25%, or more.&nbsp; This meeting may be conducted virtually, sharing your screen, if necessary; however, in-person meetings are strongly recommended for Healthcare Savings meetings.&nbsp; &nbsp; Phone Script<br>
        <br>
        <em>We recommend that you do NOT send any form of reminder for the 1st meeting since it is likely to prompt a cancellation, regardless of the source of the meeting.<br></em><br></li>
      
        <li>
          <strong>First Meeting</strong> (Overview Presentation)
      

          <ol type="a">
            <li>Arrive 5 minutes early for your meeting and dressed appropriately.<br>
            <br></li>
      
            <li>Conduct overview presentation with prospect. You can use a Powerpoint presentation or just use the script. See below for 2 HealthCare Savings Overview Powerpoint presentations and script.</li>
          </ol>
         </li>
      
        <div class="row">
          <div class="col-md-6">
            <p align="center"><br>
            <strong>HealthCare Savings Overview Presentation</strong><br>
            Powerpoint Slides, with Script in Presenter notes, can be found in the <a href="/page-18136">Master Presentation Deck</a>. &nbsp; | &nbsp;&nbsp; <a href="http://healthcaresavings.co/docs/Employee_HealthCare_Benefit-Intro_Script.pdf" target="_blank">Text Script Only</a>
            <div class="embed-responsive embed-responsive-16by9 clearfix">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/301853040" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <a href="https://player.vimeo.com/video/301853040" target="_blank">https://player.vimeo.com/video/301853040</a>
          </div>
  
          <div class="col-md-6">
            <p align="center"><br>
            <strong>Alternate HealthCare Savings Overview Presentation</strong><br>
            The Powerpoint Slides, with Script in presenter notes, can be found in the <a href="/resources/Documents/HealthCare/Alternate_Intro_Presentation.pptx" target="_blank">Alternate Presentation Deck</a>.
            <div class="embed-responsive embed-responsive-16by9 clearfix">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/301932854" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <a href="https://player.vimeo.com/video/301932854" target="_blank">https://player.vimeo.com/video/301932854</a></p>
          </div>
        </div>
      </ol>
        <ul> 
          <ol type="a" start="3">
            <li>Close for a 2nd meeting where you will have a Subject Matter Expert at Entrust join over the phone to discuss what we do and how we do it. Check for Entrust SME availability and schedule with Entrust here:&nbsp;&nbsp;<a href="https://calendly.com/bluecoast-1/entrust"><font color="#008BAE">https://calendly.com/bluecoast-1/entrust</font></a>&nbsp; Note: enter the Prospective Client's Company name but use YOUR contact info. Be sure to enter YOUR name, YOUR email address, and YOUR phone number, and NOT your prospect's since Entrust will not have any communications with your prospect until this 2nd meeting.<br><br></li>
      
            <li>So that the 2nd meeting may be successful, it is important to know how the client feels about their current health benefits and therefore we must complete a Healthcare Savings Questionaire (HCSQ).&nbsp; You will ask these questions at the end of your first meeting, after securing a date and time for the second meeting with Entrust.&nbsp; So, present, close for 2nd meeting date and time and then ask the questions.&nbsp; There is a text version of the HCSQ here The HCSQ is a form within the CRM that can be accessed and submitted once a prospect has been created in the CRM.&nbsp; A submitted HCSQ goes directly to Entrust.&nbsp; You will find a text version of the HCSQ here&nbsp;<font style="font-style: italic; font-size: 12px;">(<a href="http://healthcaresavings.co/docs/HCSQ.docx" target="_blank">text version</a>)</font> <font style="font-size: 15px;">for your reference.</font><br>
              <br>
              <p>YOU MUST HAVE ALREADY MET WITH AND CONDUCTED A PRESENTATION WITH YOUR PROSPECT AND COMPLETED THE HCSQ PRIOR TO THE SME CALL WITH ENTRUST</p></li>
      
            <li>Send your prospective client a calendar invite so that they remember this meeting. You do NOT need to send the conference bridge info to your prospect, since you will be present. If you will not be present than the conference bridge info should be included in the calendar invite.<br><br></li>
          </ol>
        </ul>

        
      <ol start="4">
        <li>
          <strong>2nd Meeting.</strong>&nbsp;For the second meeting, the SME at Entrust will be doing most of the talking.
      
          <ol type="a">
            <li>You should be present at the prospects’ office, if possible, and will call in to a conference bridge at the scheduled time and introduce so that the SME at Entrust. If you will not be on-location, you must still be on the call.&nbsp; If your meeting is running late, you will need to call in to the conference bridge and let the SME know.<br>
            <br></li>
      
            <li>IF it will not be possible for you to be present for the 2nd meeting, you must email the day of, reminding of the meeting, and again including the conference bridge info. Regardless of whether you receive a response to this email or not, you need to also call your prospect a half hour prior to the meeting to remind them. No-shows are not acceptable since SME resources are valuable and limited.<br>
            <br></li>
      
            <li>You could start the call, introducing Entrust, by saying something like this: "<em>In all areas, our firm works with only the most experienced and most qualified experts in the country to help our clients. Our HealthCare cost containment partner, Entrust, which is actually owned by Blue Cross Blue Shield of Alabama, has been helping employers to reduce health benefit costs for 40 years.</em>"<br>
            <br></li>
          </ol>
        </li>
      
        <li>
          <strong>Data Collection.&nbsp;&nbsp;</strong>At this point it is typical that claims data is requested so that a proposal may be put together.
      
          <ol type="a">
            <li>Your SME at Entrust will let you know what is needed so that you may request it of your prospective client.<br>
            <br></li>
      
            <li>We suggest asking your prospect who, within their organization, will be responsible for&nbsp;gathering the necessary data and then asking if it is Ok for you to reach out to that person directly.<br>
            <br></li>
      
            <li>Follow up until you get what Entrust needs. Entrust will assist with this process.<br>
            <br></li>
          </ol>
        </li>
      
        <li><strong>Proposal Meeting</strong>&nbsp; Schedule another meeting to review the results/proposal.<br>
        <br></li>
      
        <li><strong>Enrollment</strong> - This varies based on what we are doing and how we are helping them.&nbsp; We will likely be enrolling individual employee's and, if so, this may be done face to face, with a large network of professional enrollers, or via the Internet with little to no work on the part of the employer and little to no time on the part of the individual employees.</li>
      </ol>
      
      <hr>
      <h4><strong>Marketing</strong></h4>
      <ul>
        <li><a href="http://www.intelatek.com/bc" target="_blank">Order HealthCare Savings Meetings</a><br><br></li>
        <li><a href="/email-sequences">HealthCare Savings Email Series</a><br><br></li>
        <li><a href="/cold-phone-script">HealthCare Savings Appointment Setting Script</a><br><br></li>
      </ul>
      
      <p>The following videos can be used in emails and social media.</p>
      

      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288374035" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <p><br></p>
          <p>You can share this video in emails using this link: <a href="https://player.vimeo.com/video/288374035" target="_blank">https://player.vimeo.com/video/288374035</a>&nbsp;</p>
          <p>You can share this video on LinkedIn using this link: <a href="https://vimeo.com/288374035" target="_blank">https://vimeo.com/288374035&nbsp;</a></p>
          <p>Use this code to embed the video in a website:</p>
          <table width="99%" cellpadding="10" cellspacing="0" watable="1" class="contStyleExcSimpleTable" style="border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #999999;" bgcolor="#D3D3D3">
            <tbody>
              <tr>
                <td style="border-style: solid; border-width: 1px; border-color: gray; background-color: #ffffff;" valign="top"><font color="#000000" style="font-size: 14px;">&lt;iframe src="https://player.vimeo.com/video/288374035" height="300" width="550" webkitAllowFullScreen allowFullScreen mozallowfullscreen frameborder="0"&gt;&lt;/iframe&gt;</font></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <br>
      <br>
      
      <div class="row">
        <div class="col-md-6">
          <p><br></p>
          <p>You can share this video in emails using this link: <a href="https://player.vimeo.com/video/288037609" target="_blank">https://player.vimeo.com/video/288037609</a>&nbsp;</p>
          <p>You can share this video on LinkedIn using this link: <a href="https://vimeo.com/288037609" target="_blank">https://vimeo.com/288037609&nbsp;</a></p>
          <p>Use this code to embed the video in a website:</p>
          <table width="99%" cellpadding="10" cellspacing="0" watable="1" class="contStyleExcSimpleTable" style="border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #999999;" bgcolor="#D3D3D3">
            <tbody>
              <tr>
                <td style="border-style: solid; border-width: 1px; border-color: gray; background-color: #ffffff;" valign="top"><font color="#000000" style="font-size: 14px;">&lt;iframe src="https://player.vimeo.com/video/288037609" height="300" width="550" webkitAllowFullScreen allowFullScreen mozallowfullscreen frameborder="0"&gt;&lt;/iframe&gt;</font></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288037609" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
            
      <hr>
      <h4><strong>Training</strong></h4>
      
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/289939503" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>      
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/290763953" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>  
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/295919214" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/295919185" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>  
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288037497" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288037724" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <a href="https://player.vimeo.com/video/163536932">https://player.vimeo.com/video/163536932</a>
        </div>
        <div class="col-md-6">
          <a href="https://player.vimeo.com/video/209790631">https://player.vimeo.com/video/209790631</a>        
        </div>
      </div>
      
      <hr>

      <div class="row">
        <div class="col-md-6">
          <h4><strong>Docs &amp; Brochures</strong></h4>
          <p><a href="email-sequences">HealthCare Savings Email Series</a></p>
          <p><a href="http://healthcaresavings.co/docs/Overview.pdf" target="_blank">Overview</a></p>
          <p><a href="http://healthcaresavings.co/docs/DirectPrimaryCare.pdf" target="_blank">Direct Primary Care</a></p>
          <p><a href="http://healthcaresavings.co/docs/White_Paper_RBMAC.pdf" target="_blank">Referenced Based Pricing White Paper</a></p>
          <p><a href="http://healthcaresavings.co/docs/Proactive_RBP_Case_Studies.pdf" target="_blank">Proactive Referenced Based Pricing Case Studies</a></p>
          <p><a href="http://healthcaresavings.co/docs/Rx_example.pdf" target="_blank">Pharmacy Benefit Sample Proposal</a></p>
          <p><a href="" target="_blank">Entrust Engagement Presentation</a></p>
          <p><a href="http://healthcaresavings.co/docs/2018-milliman-medical-index.pdf" target="_blank">2018 Milliman Medical Index</a></p>
        </div>
        <div class="col-md-6">
          <h4><strong>News</strong></h4>
          <p align="left"><a href="">Blue Coast Slashing Employee HealthCare Benefit Costs by 12 to 25%</a></p>
          <p align="left"><br></p>
          <h4><strong>Compliance Update</strong></h4>
          <p><a href="http://healthcaresavings.co/docs/CU81-2017-August-IRS_Letters_Update.pdf" target="_blank">Aug 2017 - IRS Letters</a></p>
          <p><a href="http://healthcaresavings.co/docs/CU82-2017-November-Potential_Employer_Mandate_Pentalty_IRS_Letter_226J.pdf"
            target="_blank">Nov 2017 - Potential Employer Mandate Penalty IRS Letter</a></p>
          <p><a href="http://healthcaresavings.co/docs/CU84-2018-January-Federal_Budget.pdf" target="_blank">Jan 2018 - Federal Budget</a></p>
          <p><a href="http://healthcaresavings.co/docs/CU85-2018-March-Preventive_Services_Update.pdf" target="_blank">Mar 2018 - Preventive Services Update</a></p>
          <p><a href="http://healthcaresavings.co/docs/CU86-2018-April-CMS_Final_Rule.pdf" target="_blank">Apr 2018 - CMS Final Rule</a></p>
          <p><br></p>
        </div>
    </div>
  </div>
</div>