<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>&nbsp;</p>
      <h3 align="center">Employee HealthCare Benefit Savings</h3>
      <p>&nbsp;</p>

       <table width="99%" cellpadding="10" cellspacing="0" watable="1" class="contStyleExcSimpleTable" style="border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #999999;">
        <tbody>
          <tr>
            <td style="border-style: solid; border-width: 1px; border-color: #999999;" valign="top" bgcolor="yellow">   
              <ol>
              <p><br>
              <strong>Important Processes Updates &amp; Reminders regarding the Healthcare Savings Program.</strong></p>
              
              <li><strong>Please be Present for Presentations: S</strong>ince employers are used to dealing with brokers and having a relationship with their broker, it is vital that you develop a relationship with your prospective clients and it is not possible to develop such a relationship unless you are in their office, through each and every presentation.&nbsp; Remember, you could be earning $50k per year, or more, on   just one client. It is therefore REQUIRED that if you schedule a meeting with Chris, or someone at Entrust, that you be present in their office, unless it is not within a reasonable driving distance.<br><br></li>
              
              <li><strong>Decision Maker:</strong>&nbsp; Often, you are meeting with someone who is not a final decision maker for your initial presentation.  That’s fine, but when scheduling the second meeting, where the Subject Matter Expert will present, you should have the decision makers present, whether that is the CFO, Owner, etc.  Also, it is advisable that you have anyone and everyone who would be involved and who would have questions, attend.  We will not be presenting to brokers.<br><br></li>
              
              <li><strong>Communicating with</strong> <strong>Entrust: </strong>&nbsp;
              Entrust is a valuable resource and as such, we
              are looking to keep communications limited to communications regarding clients
              and active prospects (where you have already obtained the required claims
              data). &nbsp;Any general questions or questions pertaining to a prospect where
              you have not yet obtained claims data, please bring those questions to the
              weekly HealthCare Savings Q&amp;A calls, held every Friday at 11:00 EST.&nbsp;
              Entrust will have someone attending these weekly calls.&nbsp; To access these
              calls, dial 712-770-8062 and enter conference Code: 236839.&nbsp; Everyone will
              learn from these calls.<br><br></li>
              
              <li><strong>Data Requirements</strong>: We have now listed the data required to
              get a proposal from Entrust.&nbsp; It can be found below in the Steps to a Sale.<br><br></li>
              
              <p><em>With the volume that we are doing with Entrust it’s important that we keep Entrust
              focused on closing your clients.</em></p>
            </td>
          </tr>
        </tbody>
      </table>
    
      <p>&nbsp;</p>
      
      <div class="row">
        <div class="col-md-8">
          <p><br>Employee health benefits is often the second largest expense for employers, just after payroll, and according to surveys, controlling that cost is the number one issue, or problem employers are facing today.</p>
          <p>The Cost of Health Care for employers and their employees, is growing at an unsustainable rate, rising faster than inflation, workers earnings, GDP, and profit margins.</p>
          <p>Less than 30 years ago, family health coverage cost just $200 per month, now the cost to insure the same family is over $1,600 per month.&nbsp; The average family health insurance premium now exceeds the average monthly mortgage payment.</p>
          <p>While the cost goes up, employees are often having to take on a larger portion of the cost of coverage; and, while employees are having to pay more for coverage, they’re seeing their out of pocket costs increase as well.</p>
          <p>Businesses have settled for what they think is the best value, sacrificing benefits, and increasing employee out-of-pocket costs, just to afford coverage.</p>
          <p>Whereas health insurance brokers provide quotes from several insurance companies, we focus on the four primary cost drivers that make up 90% of the cost of an organization's health plan, and we help employers to reduce their overall health benefit costs by 12 and 25%, without necessarily switching their broker or health plan provider.</p>
        </div>
        <div class="col-md-4">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288375019" width="316" height="422" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>
      
      <p>&nbsp;</p>
      <hr>
      <p>&nbsp;</p>
      
      <h4><strong>Fee &amp; Compensation</strong></h4>
      
      <p>Clients pay a consulting fee of 25% of the savings, on a contingency basis, and, if changing their health plan $25 per employee, per month when.&nbsp; Blue Coast Consultants compensation is equal to half of the consulting fee(s).<br></p>
      
      <p>&nbsp;</p>
      <hr>
      <p>&nbsp;</p>
      
      <h4><strong>Requirements</strong></h4>
      
      <ul>
        <li>50+ lives (100+ lives in NY &amp; CA)<br></li>
      </ul>
      
      <p>&nbsp;</p>
      <hr>
      <p>&nbsp;</p>
      
      <h4><strong>Steps to the Sale</strong></h4>
      
      <ol>
        <li><strong>Identify prospective clients</strong>. Any business with 50 or more employees (100+ in NY &amp; CA) that offers health benefits to their employees.&nbsp; You can use Cliently or LinkedIn to identify prospects.<br>
        <br></li>
      
        <li><strong>Schedule Meetings.</strong>&nbsp; Contact prospective clients by phone to schedule an in-person meeting to discuss helping them to reduce health benefit costs by 12 to 25%, or more.&nbsp; This meeting may be conducted virtually, sharing your screen, if necessary; however, in-person meetings are strongly recommended for Healthcare Savings meetings.&nbsp; &nbsp; Phone Script<br>
        <br>
        <em>We recommend that you do NOT send any form of reminder for the 1st meeting since it is likely to prompt a cancellation, regardless of the source of the meeting.<br></em><br></li>
      
        <li><strong>CRM</strong>&nbsp; The HealthCare Savings CRM is a critical part of our sales process.&nbsp; The CRM enables everyone to work together and to be on the same page in supporting you and your prospects and therefore it is mandatory that you use it and that you update it.<br>
        <br>
        All prospects with whom you have are scheduled to do an intro or overview presentation for, or who you have already done an intro presentation for, should be put in the CRM. If you have not; however, yet SCHEDULED an intro or overview presentation, then the prospect should NOT be put in the CRM.<br>
        <br>
        Access the HealthCare Savings CRM here: <a href="http://crm.healthcaresavings.co">http://crm.healthcaresavings.co</a><br>
        <br>
        When entering a new prospect, the minimum information that you must enter is the: company or organization's name, approximate number of employees (must be an integer), and the date of your intro or overview presentation.<br>
        <br>
        Please note that every new prospect entered in the CRM, automatically has a status of "Intro Presentation Scheduled".&nbsp;&nbsp;You can easily edit the prospect once it is created, adding information, to include contacts, notes, next actions and more.<br>
        <br>
        If you have already conducted an intro presentation, the status should not still be "Intro Presentation Scheduled".&nbsp; You should always have a "Next Action" and Next Action date.&nbsp;&nbsp;If all of the meeting dates, and the next action date, is in the past, you will see, we will see, and Entrust will see, an alert that the prospect needs to be updated.&nbsp; If the prospect has a “No Sale” status, you will not see an update alert.<br>
        <br>
        <em><span>If you are getting meeting scheduled by IntelaTek, they will enter your meetings directly into the CRM and you will receive an email notification.</span><br></em>
        <br></li>      

        <li>
          <strong>First Meeting</strong> (Overview Presentation)
      

          <ol type="a">
            <li>Arrive 5 minutes early for your meeting and dressed appropriately.<br>
            <br></li>
      
            <li>Conduct overview presentation with prospect. You can use a Powerpoint presentation or just use the script. See below for 2 HealthCare Savings Overview Powerpoint presentations and script.</li>
          </ol>
         </li>
      
      <p>&nbsp;</p>
      
        <div class="row">
          <div class="col-md-6">
            <p align="center"><br>
            <strong>HealthCare Savings Overview Presentation</strong><br>
            Powerpoint Slides, with Script in Presenter notes, can be found in the <a href="http://healthcaresavings.co/docs/MasterDeck.pptx">Master Presentation Deck</a>. &nbsp; | &nbsp;&nbsp; <a href="http://healthcaresavings.co/docs/Employee_HealthCare_Benefit-Intro_Script.pdf" target="_blank">Text Script Only</a>
            <div class="embed-responsive embed-responsive-16by9 clearfix">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/301932854" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <a href="https://player.vimeo.com/video/301932854" target="_blank">https://player.vimeo.com/video/301932854</a></p>
          </div>
  
          <div class="col-md-6">
            <p align="center"><br>
            <strong>Alternate HealthCare Savings Overview Presentation</strong><br>
            The Powerpoint Slides, with Script in presenter notes, can be found in the <a href="http://healthcaresavings.co/docs/Alternate_Intro_Presentation.pptx" target="_blank">Alternate Presentation Deck</a>.
            <div class="embed-responsive embed-responsive-16by9 clearfix">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/301853040" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <a href="https://player.vimeo.com/video/301853040" target="_blank">https://player.vimeo.com/video/301853040</a>
          </div>
        </div>
        
        <p>&nbsp;</p>
        
        <div class="row">
          <div class="col-md-6">
            <p align="center"><br>
            <strong>HealthCare Savings FULL Presentation</strong></p>
            <p>Powerpoint Slides, with Script in Presenter notes, can be found in the <strong><u><a href="http://healthcaresavings.co/docs/BC_Advisor_Full_Presentation.pptx">Full Presentation Deck</a></u></strong></p>
            <p><em><font style="font-size: 14px;">Please note that the Full Presentation is ONLY for those who do not want to schedule the 2nd presentation with an SME (subject matter expert) and instead want to do the full presentation for their prospect.</font></em></p>
          </div>
        </div>

        <p>&nbsp;</p>
        
        
      </ol>
        <ul> 
          <ol type="a" start="3">
            <li>Close for a 2nd meeting where you will have a Subject Matter Expert join over the phone to discuss what we do and how we do it.<br>
              <br>
        
              <div align="center">
                Check for SME availability and schedule here:&nbsp;&nbsp;<a href="https://calendly.com/chris-cunningham/hcs-sme" target="_blank">https://calendly.com/chris-cunningham/hcs-sme</a>
              </div><br>
              Note: enter the prospective client's company name but use YOUR contact info. <em>Be sure to enter YOUR name, YOUR email address, and YOUR phone number, and NOT your prospect's info.</em><br>
              <br>
            </li>
        
            <li>So that the 2nd meeting may be successful, it is important to know how the client feels about their current health benefits and therefore we must complete a Healthcare Savings Questionaire (HCSQ).&nbsp; You will ask these questions at the end of your first meeting, after securing a date and time for the second meeting with Entrust.&nbsp; So, present, close for 2nd meeting date and time and then ask the questions.&nbsp; There is a text version of the HCSQ here The HCSQ is a form within the CRM that can be accessed and submitted once a prospect has been created in the CRM.&nbsp; A submitted HCSQ goes directly to Entrust.&nbsp; You will find a text version of the HCSQ here&nbsp;<font style="font-style: italic; font-size: 12px;">(<a href="http://healthcaresavings.co/docs/HCSQ.docx" target="_blank">text version</a>)</font> <font style="font-size: 15px;">for your reference.</font><br>
        
              <p>YOU MUST HAVE ALREADY MET WITH AND CONDUCTED A PRESENTATION WITH YOUR PROSPECT AND COMPLETED THE HCSQ PRIOR TO SCHEDULING THE SME CALL.<br>
              <br></p>
            </li>
        
            <li>Send your prospective client a calendar invite so that they remember this meeting.&nbsp; You will be at your prospect's office for this meeting.<br>
            <br></li>
        </ul>
      </ol>
      
      <ol start="5">
        <li>
          <strong>2nd Meeting.</strong>&nbsp;For the second meeting, the SME will be doing almost all of the talking.
      
          <ol type="a">
            <li>The meeting must be scheduled with the employer, not a broker.&nbsp; Either the CFO, CEO, President, Owner, or Partner should be in this second meeting.<br>
            <br></li>
      
            <li>You should be present at the prospects’ office for the 2nd meeting. If for some reason you will not be on-location, you must still, at very minimum, dial-in.&nbsp; If your meeting is running late, you will need to call the dial-in number, where the SME will be waiting, so that you may let the SME know.<br>
            <br></li>
      
            <li>IF it will not be possible for you to be present for the 2nd meeting, you must email the day of, reminding of the meeting, and again including the conference bridge info. Regardless of whether you receive a response to this email or not, you need to also call your prospect a half hour prior to the meeting to remind them. No-shows are not acceptable since SME resources are valuable and limited.<br>
            <br></li>
      
            <li>Start the call by making introductions and letting the SME know how many employees the company has, whether they are fully-insured or self-insured, what insurance company they have their plan with and when their plan renews (even though this information should also be in the CRM). This is critical, so please say this:<br>
              <br>
      
              <div style="margin-left: 2em">
                <em>"Joining us today is Chris Cunningham, one of our HealthCare Savings Subject Matter Experts. Thanks for joining us Chris. I'm here with (prospect name and prospect name) at (prospect company) in (City and state). (prospect company) has (number of) employees, they are (fully-insured / self-insured) with (insurance company) and their health plan renews in (month). I'll let you take it from here Chris."</em><br>
                <br>
              </div>
            </li>
      
            <li>Please do NOT expect any further emails from SME or Entrust prior to this presentation. Please Do NOT call or email with questions about this meeting or to discuss your prospect prior to the presentation.&nbsp;&nbsp;Your prospect MUST be entered in the CRM and any information that you would like to communicate with the SME regarding this prospective client should be entered in the CRM as the SME will be reviewing the CRM notes just prior to the presentation. Please bring any questions to a Monday morning Kickoff call or Friday morning HealthCare Q&amp;A call.&nbsp; Please contact <a href="mailto:support@bluecoastsavings.com">support@bluecoastsavings.com</a> with any problems.<br>
            <br></li>
          </ol>
        </li>
      
        <li>
          <strong>Data Collection.&nbsp;&nbsp;</strong>At this point it is typical that claims data is requested so that a proposal may be put together.
      
          <ol type="a">
            <li>We suggest asking your prospect who, within their organization, will be responsible for&nbsp;gathering the necessary data and then asking if it is Ok for you to reach out to that person directly.<br>
            <br></li>
      
            <li>The following data is required to get a proposal from Entrust for any organization with 300 or fewer employees.  For questions regarding the data needed, please email Tammy Riesmeyer at Entrust tammy.riesmeyer@entrustinc.com<br>
            <br>
            
             <table width="99%" cellpadding="10" cellspacing="0" watable="1" class="contStyleExcSimpleTable" style="border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #999999;">
              <tbody>
                <tr>
                  <td style="border-style: solid; border-width: 1px; border-color: #999999;" valign="top" bgcolor="#CCCCFF">
                    <ol>
                      <li>Current Census of all full-time eligible employees – Including – DOB, Gender, Home Zip Code, &amp; Type of coverage (EE, ES, EC, EF, Waive)<br>
                      <br></li>
    
                      <li>Claims experience (at least two years)
    
                        <ul>
                          <li>Claims versus Premium by Month</li>
    
                          <li>All large Claimants over $15,000</li>
    
                          <li>Any other Rx Reports that may be available<br>
                          <em>Many insurers, such as Cigna and Blue Cross, make these reports available online.&nbsp; With other insurers, such as United Healthcare, you can simply call and request it.</em></li>
                        </ul>
                      </li>
    
                      <li>Copy of your Current Plan designs and rates<br>
                      <br></li>
    
                      <li>Employer Contributions by plan<br>
                      <br></li>
    
                      <li>If up for renewal we need your renewal rates.&nbsp; If in the middle of the year, we need a copy of last year's rates.</li>
                    </ol>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            </li>
      
            <li>Follow up DAILY until your prospective client provides what Entrust needs.&nbsp; The more days you let go bye, the less likely you will be to ever get the data.<br>
            <br></li>
          </ol>
        </li>
      
        <li><strong>Proposal Meeting</strong>&nbsp; After receiving the requested data from prospective client, Forward the data to Cas Sharp at Entrust <a href="mailto:cas.sharp@entrustinc.com">cas.sharp@entrustinc.com</a>, requesting that a proposal be put together for your prospective client and requesting to schedule a an online meeting to review the proposal with your client.&nbsp; Please copy Tammy Reismeyer at Entrust <a href="mailto:tammy.riesmeyer@entrustinc.com">tammy.riesmeyer@entrustinc.com</a> and Chris Cunningham <a href="mailto:chris@bluecoastsavings.com">chris@bluecoastsavings.com</a>. Note that it may take up to two weeks to put a proposal together since stop loss coverage must be underwritten.<br><br></li>
      
        <li><strong>Proposal Meeting</strong>&nbsp; After receiving the requested data from prospective client, Forward the data to Cas Sharp at Entrust <a href="mailto:cas.sharp@entrustinc.com">cas.sharp@entrustinc.com</a>&nbsp;<em>(copy Tammy Reismeyer at Entrust <a href="mailto:tammy.riesmeyer@entrustinc.com">tammy.riesmeyer@entrustinc.com</a> and Chris Cunningham <a href="mailto:chris@bluecoastsavings.com">chris@bluecoastsavings.com</a>)</em>, requesting a call to discuss your prospective client and a proposal be put together.<br>
          <br>
          Note that it may take up to two weeks to put a proposal together since stop loss coverage must be underwritten.<br>
          <br>
          Once the proposal comes back, you will coordinate a meeting where Cas will review the proposal with your prospective client via screenshare.<br>
          <br>
          You MUST be present at your prospective client's office for this meeting and the meeting MUST include the decision makers (e.g., CFO, CEO, Owner, President).<br><br></li>
      
        <li><strong>Enrollment</strong> - This varies based on what we are doing and how we are helping them.&nbsp; We will likely be enrolling individual employee's and, if so, this may be done face to face, with a large network of professional Enrollers, or via the Internet with little to no work on the part of the employer and little to no time on the part of the individual employees.</li>
      </ol>
      
      <p>&nbsp;</p>
      <hr>
      <p>&nbsp;</p>
      <h4><strong>Marketing</strong></h4>
      <ul>
        <li><a href="http://www.intelatek.com/bc" target="_blank">Order HealthCare Savings Meetings</a><br><br></li>
        <li><a href="/email-sequences">HealthCare Savings Email Series</a><br><br></li>
        <li><a href="/cold-phone-script">HealthCare Savings Appointment Setting Script</a><br><br></li>
      </ul>
      
      <p>The following videos can be used in emails and social media.</p>
      

      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288374035" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <p><br></p>
          <p>You can share this video in emails using this link: <a href="https://player.vimeo.com/video/288374035" target="_blank">https://player.vimeo.com/video/288374035</a>&nbsp;</p>
          <p>You can share this video on LinkedIn using this link: <a href="https://vimeo.com/288374035" target="_blank">https://vimeo.com/288374035&nbsp;</a></p>
          <p>Use this code to embed the video in a website:</p>
          <table width="99%" cellpadding="10" cellspacing="0" watable="1" class="contStyleExcSimpleTable" style="border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #999999;" bgcolor="#D3D3D3">
            <tbody>
              <tr>
                <td style="border-style: solid; border-width: 1px; border-color: gray; background-color: #ffffff;" valign="top"><font color="#000000" style="font-size: 14px;">&lt;iframe src="https://player.vimeo.com/video/288374035" height="300" width="550" webkitAllowFullScreen allowFullScreen mozallowfullscreen frameborder="0"&gt;&lt;/iframe&gt;</font></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <br>
      <br>
      
      <div class="row">
        <div class="col-md-6">
          <p><br></p>
          <p>You can share this video in emails using this link: <a href="https://player.vimeo.com/video/288037609" target="_blank">https://player.vimeo.com/video/288037609</a>&nbsp;</p>
          <p>You can share this video on LinkedIn using this link: <a href="https://vimeo.com/288037609" target="_blank">https://vimeo.com/288037609&nbsp;</a></p>
          <p>Use this code to embed the video in a website:</p>
          <table width="99%" cellpadding="10" cellspacing="0" watable="1" class="contStyleExcSimpleTable" style="border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #999999;" bgcolor="#D3D3D3">
            <tbody>
              <tr>
                <td style="border-style: solid; border-width: 1px; border-color: gray; background-color: #ffffff;" valign="top"><font color="#000000" style="font-size: 14px;">&lt;iframe src="https://player.vimeo.com/video/288037609" height="300" width="550" webkitAllowFullScreen allowFullScreen mozallowfullscreen frameborder="0"&gt;&lt;/iframe&gt;</font></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288037609" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
            
      <p>&nbsp;</p>
      <hr>
      <p>&nbsp;</p>
      <h4><strong>Training</strong></h4>
      
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/289939503" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>      
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/290763953" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>  
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/295919214" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/295919185" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>  
      <br>
      
    
    
    
    
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/299048946" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/301038312" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>  
      <br>      
      
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/306315765" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/306315842" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>  
      <br>      
      
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/307529922" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/311781919" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>  
      <br>      

<hr>

      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288037497" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
            <a href="https://player.vimeo.com/video/163536932">https://player.vimeo.com/video/163536932</a>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 clearfix">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/288037724" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <a href="https://player.vimeo.com/video/209790631">https://player.vimeo.com/video/209790631</a> 
        </div>
      </div>
      

      
      <p>&nbsp;</p>
      <hr>
      <p>&nbsp;</p>

      <div class="row">
        <div class="col-md-6">
          <h4><strong>Docs &amp; Brochures</strong></h4>
          <p><a href="email-sequences">HealthCare Savings Email Series</a></p>
          <p><a href="http://healthcaresavings.co/docs/Overview.pdf" target="_blank">Overview</a></p>
          <p><a href="http://healthcaresavings.co/docs/DirectPrimaryCare.pdf" target="_blank">Direct Primary Care</a></p>
          <p><a href="http://healthcaresavings.co/docs/White_Paper_RBMAC.pdf" target="_blank">Referenced Based Pricing White Paper</a></p>
          <p><a href="http://healthcaresavings.co/docs/Proactive_RBP_Case_Studies.pdf" target="_blank">Proactive Referenced Based Pricing Case Studies</a></p>
          <p><a href="http://healthcaresavings.co/docs/Rx_example.pdf" target="_blank">Pharmacy Benefit Sample Proposal</a></p>
          <p><a href="" target="_blank">Entrust Engagement Presentation</a></p>
          <p><a href="http://healthcaresavings.co/docs/2018-milliman-medical-index.pdf" target="_blank">2018 Milliman Medical Index</a></p>
        </div>
        <div class="col-md-6">
          <h4><strong>News</strong></h4>
          <p align="left"><a href="">Blue Coast Slashing Employee HealthCare Benefit Costs by 12 to 25%</a></p>
          <p align="left"><br></p>
          <h4><strong>Compliance Update</strong></h4>
          <p><a href="http://healthcaresavings.co/docs/CU81-2017-August-IRS_Letters_Update.pdf" target="_blank">Aug 2017 - IRS Letters</a></p>
          <p><a href="http://healthcaresavings.co/docs/CU82-2017-November-Potential_Employer_Mandate_Pentalty_IRS_Letter_226J.pdf"
            target="_blank">Nov 2017 - Potential Employer Mandate Penalty IRS Letter</a></p>
          <p><a href="http://healthcaresavings.co/docs/CU84-2018-January-Federal_Budget.pdf" target="_blank">Jan 2018 - Federal Budget</a></p>
          <p><a href="http://healthcaresavings.co/docs/CU85-2018-March-Preventive_Services_Update.pdf" target="_blank">Mar 2018 - Preventive Services Update</a></p>
          <p><a href="http://healthcaresavings.co/docs/CU86-2018-April-CMS_Final_Rule.pdf" target="_blank">Apr 2018 - CMS Final Rule</a></p>
          <p><br></p>
        </div>
    </div>
  </div>
</div>