<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h3>Inviting to Webinars</h3>
    
      <p>&nbsp;</p>
      
      <p><strong>Live Call Invite to Webinar</strong></p><p>Hi (first name) this is (your full name), hope you've been doing great.</p>
      
      <p>(first name) I sent you an email the other day and I was giving you a call because we're hosting a short webcast that we thought you would have interest in attending. The webcast is entitled "Reducing costs and generating revenue from Accounts Payable."</p>
      
      <p>I wanted to see if you would like for me to send you an invitation.</p>
      
      <p>&nbsp;</p>
      
      <hr>
      
      <p>&nbsp;</p>
      
      <p><strong>Voicemail Message Invite to Webinar</strong><br></p><p>Hi (first name) this is (your full name), hope you've been doing great.</p>
      
      <p>(first name) I sent you an email the other day and I was giving you a call because we're hosting a short webcast that we thought you would have interest in attending. The webcast is entitled "Reducing costs and generating revenue from Accounts Payable."</p>
      
      <p>I wanted to see if you would like for me to send you an invitation. Please give me a call at xxx-xxx-xxxx, again, that's (your full name) and you can reach me at xxx-xxx-xxxx.</p>
      
      <p>&nbsp;</p>
      
      <hr>
      
      <p>&nbsp;</p>
      
      <p><em>Please call your prospects just before the webinar to remind them to attend and again just after the webinar to answer any questions (or get their questions so that you can get back to them with answers) and email them the supplier match template.</em></p>


      
      
      
      
    </div>
  </div>
</div>
