<div class="container pages">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

			      <h3>Scheduled Leads for AP Virtual Card Payments</h3>
			      <p>&nbsp;</p>
			      <p><strong>Are you presenting to at least 3 new prospective clients every week?</strong>&nbsp; You now have the opportunity to receive an average of three new Virtual Card payment prospects, generated for you, each and every week.&nbsp;  Let's get to work!<br></p>
				      
				    <p>You may recall IntelaTek, Inc. as the company that scheduled face-to-face, preset appointments for Workers Comp premium recovery, and charged on a per-meeting set and held basis.&nbsp; For over ten years IntelaTek fulfilled its promises to Blue Coast consultants and now IntelaTek is again offering its services, working exclusively with Blue Coast consultants.&nbsp; This arrangement allows Blue Coast consultants to access marketing services, tailor made for Blue Coast, at a rate of approximately 45% less than other providers. <a href="http://www.intelatek.com/about.php" target="_New">About IntelaTek &amp; References</a></p>
				      
				    <p><strong>What is a Scheduled Lead?&nbsp;&nbsp;</strong>Nothing produces more leads, faster, and at a lower cost, than cold calling.&nbsp;  IntelaTek calls Financial Executives &amp; Directors, such as, but not limited to CFOs, Controllers, AP Directors, etc., at businesses with 100+ employees &amp; $100million+ Revenue (per data providers) to discuss how Virtual Card Payments may: save their organization money, by reducing time spent by their accounts payable department, and generate revenue when they pay their suppliers. The purpose of these calls is to schedule a one on one presentation, between you and prospect, to be conducted via screen-share.  These are referred to as scheduled leads and are set based on your schedule, put directly on your calendar.&nbsp; Prospects receive an <a href="http://www.intelatek.com/order-lead-gen-email.php" target="_New">EMAIL</a> directly after IntelaTek speaks with them, which includes the 2-minute video and Forbes article, as well as your name, your screen share link and the date and time of the presentation.&nbsp; Prospects also receive an email confirmation from Calendly, a reminder email the day before, and another reminder emails the day of.  <a href="http://www.intelatek.com/order-lead-gen-faq.php" target="_New">FAQs</a></p>
				      
				    <p><strong>What to expect:&nbsp;&nbsp;</strong>There’s no guarantee as to how many scheduled leads you will receive each week, however, to date, we averaged scheduling approximately 3 every 10 hours.  Of course, some weeks you will get fewer than others, and some weeks you will get more than others.&nbsp;&nbsp;Consultant agrees that the goal of the campaign should be to simply maximize the number of leads generated.</p>
				      
				    <p>We have found that in the largest companies, the CFO is not going to be involved in the sales process until the end and they almost always refer us to the Accounts Payable Director or similar role; so therefore, you should expect many leads to be scheduled with accounts payable titles.</p>
				    
				    <p>All of IntelaTek's Business Development Associates (telemarketers) are full-time employees, who work in IntelaTek's NC office. where they are supervised and receive daily ongoing training.  And, although no one has more conversations each day about Virtual Card payments, IntelaTek's BDAs follow this SCRIPT, and are monitored for compliance.</p>

				    <p><em>NOTE</em>:&nbsp;&nbsp;There are no data providers that can provide Accounts Payable spend information and therefore data must be complied based reasonable assumptions like Revenue and Employee Count. We’ve found that when we attempt to verify the Accounts Payable spend, prospects almost always get upset about being asked that question on a cold call, so we no longer ask.</p>
				      
				    <p><strong>The Cost:&nbsp;&nbsp;</strong>You pay only $390 per week (for 10 hours of calling per week), plus $10 per lead generated. 
				    	<!-- A minimum 8 week commitment is required and a 2 week notice required in the event you decide to cancel.&nbsp;<em>(just let your campaign manager know when you need to pause for vacations, etc.)</em> --></p>
				      
				    <p><strong>Billing:&nbsp;&nbsp;</strong>IntelaTek will automatically charge consultant, every 4th Monday for a 4-week cycle to begin the following Monday.&nbsp; For any campaign where the initial charge was on other than a Monday, subsequent charges shall be adjusted to occur on Mondays.&nbsp; So that staffing levels can be properly maintained, a 2-week notice is required when ending auto payments, or when pausing your campaign.</p>
				      
				    <p>Each Monday, consultant shall be charged an additional fee of <s>$20 for each lead that was scheduled the previous week, less any leads that cancelled the previous week</s> $10 for each lead that was scheduled the previous week, regardless of the outcome (updated 6/11/18)</p>
				      
				    <p><strong>Here's where you come in:&nbsp;&nbsp;</strong>You’ll start sharing your screen a few minutes prior to the scheduled time, and then CALL the contact at the scheduled time. You cannot wait or expect that they will just show up on the screen share. These are scheduled LEADS and you agree to call them until you reach them.&nbsp; There is no such thing as a "no-show".  If you do not reach your prospect on the first call, call the receptionist (if there is one) and ask if the contact is in.  Keep calling until you reach them, and when you do, ask them if they are in front of their computer.  IntelaTek takes the COLD out of your calling, but it’s ultimately up to you to follow up and reach or reschedule your own opportunities.</p>
				      		      
				    <p>Why doesn't IntelaTek reschedule?&nbsp; You're hiring IntelaTek to make cold calls so that you do not have to.  If it takes 5 calls to reach and reschedule, IntelaTek may have been able to make 20 cold calls during that same time.&nbsp; Consultants agree that IntelaTek should focus on the cold calls and leave the follow ups and reschedules of warm calls to do themselves.  <a href="http://www.intelatek.com/order-lead-gen-faq.php" target="_New">FAQs</a><strong>&nbsp;</strong></p>
				      
				    <p><strong>Questions</strong>: &nbsp;Contact Christy Holland at IntelaTek, Inc.&nbsp; |&nbsp;&nbsp;800.212.2806 X 500 | <a href="mailto:christy@intelatek.com">christy@intelatek.com</a></p>
			        
		        <p><strong>Order:</strong></p>
		        
		        <div id="mc1j4y4c30rghe">
		          <a href="https://app.moonclerk.com/pay/1j4y4c30rghe">VCP Lead Gen (4-weeks)</a>
		        </div>
		        <script type="text/javascript">
		          var mc1j4y4c30rghe;(function(d,t) {var s=d.createElement(t),opts={"checkoutToken":"1j4y4c30rghe","width":"100%"};s.src='https://d2l7e0y6ygya2s.cloudfront.net/assets/embed.js';s.onload=s.onreadystatechange = function() {var rs=this.readyState;if(rs) if(rs!='complete') if(rs!='loaded') return;try {mc1j4y4c30rghe=new MoonclerkEmbed(opts);mc1j4y4c30rghe.display();} catch(e){}};var scr=d.getElementsByTagName(t)[0];scr.parentNode.insertBefore(s,scr);})(document,'script'); 
		        </script>

		        <p>&nbsp;</p>
						<p align="center">See the <a href="http://www.intelatek.com/order-lead-gen-email.php" target="_New"> email </a> used here. &nbsp;&nbsp;  | &nbsp;&nbsp; Check out the <a href="http://www.intelatek.com/order-lead-gen-faq.php" target="_New">FAQs</a> here.  &nbsp;&nbsp; | &nbsp;&nbsp; See the  <a href="http://www.intelatek.com/order-lead-gen-script.php" target="_New">SCRIPT</a> used here.

    </div>
  </div>

</div>