
<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1 center">
      <a href="lead-generation", class="btn btn-kontrol btn-lg">Return to Lead Gen</a></p>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        
      <h3>Frequently asked questions and answers <u>from</u> IntelaTek, Inc.</h3>
      
      <p><strong>Is there a commitment?</strong><br></p>
      
      <blockquote>
        <p>Yes, there are two commitments. First, you need to be committed to calling every lead until you reach them. So, if you do not reach them at the scheduled time, you keep trying. On average, it takes several dials to reach each lead.</p>
      
        <p>The second commitment is to us, as well as to yourself. You’re committing to at least 8 weeks and will give us two weeks’ notice when stopping or pausing your campaign, so that we can manage our staff levels.</p>
      </blockquote><strong>Can I get face-to-face meetings?</strong>
      
      <blockquote>
        <p>We’re not scheduling face-to-face meetings for Virtual Card Payments, only via screen share.</p>
      
        <p>We will however, be scheduling face to face meetings with CPAs and other professionals for referral partner and sub rep opportunities.</p>
      </blockquote>
      
      <p><strong><strong>Will you reschedule my meetings?</strong><br></strong></p>
      
      <blockquote>
        <p>These are leads, or opportunities, where we have taken the cold out of the call. Your dollars are going to be better spent on us making cold calls and leaving those warm follow up calls to you. In the time spent making those warm follow-ups to reschedule we could have been getting you another lead scheduled. Also, let’s suppose we did reschedule it for you, it is likely that it is going to take a few calls to do the presentation at the next scheduled time. We decided that it’s a poor use of your dollars and that this campaign is intended for those who do not want to make cold calls but are willing to make the warm calls with scheduled leads.</p>
      </blockquote>
      
      <p><strong>&nbsp;<strong>Will you replace my meetings if they cancel or if I cannot get ahold of them?</strong></strong></p>
      
      <blockquote>
        <p>If a meeting cancels by replying back to the initial email or by clicking on the cancellation button, in the confirmation, or in one of the reminder emails, prior to the scheduled time, then you will not be charged the $20 for that lead. Remember, you’re paying primarily for the time spent making the calls, so we just simply keep calling based on the time that you have purchased.</p>
      </blockquote>
      
      <p><strong><strong>Can you call and set with just CFOs for me?</strong><br></strong></p>
      
      <blockquote>
        <p>No.&nbsp; We don’t think it makes sense to limit to CFOs. We estimate the cost per meeting scheduled with a CFO would be over $500, if only setting with CFOs. More importantly, we have found that in the largest companies, the CFO is not going to be involved in the sales process until the end. They almost always refer you to the Accounts Payable Director, or similar role. And in the smaller companies, we are typically setting with the CFO or controller anyway. So likely, you would be getting mostly just the smaller companies, and at far too high of a cost.</p>
      
        <p>We understand that you are going to need the CFO to make the decision, however you need to understand that there are other people who’s job it is to deal with this, so the CFO is not going to get involved until their point person has already vetted it. Now, of course, not every company is the same. You might have been a CFO or a Controller, and might be thinking; that is not how you worked, but CFOs are not clones, so we have to look at the larger picture, or larger numbers.</p>
      </blockquote>
      
      <p><strong><strong>Can you ensure that leads scheduled will have over X million dollars in Accounts Payable spend?</strong><br></strong></p>
      
      <blockquote>
        <p>No.&nbsp; There’s no data provider that provides Accounts Payable spend information and therefore data must be complied based reasonable assumptions, based on Revenue and Employee Count, and revenue data is widely unavailable or incorrect. We have found that when we attempt to verify the Accounts Payable spend, they almost always get upset about being asked that question on a cold call, so we no longer ask.</p>
      </blockquote>
      
      <p><strong><strong>Should I ask what there Accounts Payable spend is before presenting?</strong><br></strong></p>
      
      <blockquote>
        <p>No.&nbsp; Don’t ask what their Accounts Payable spend is before presenting. We recommend that you make your objective to simply get them to view your screen and allow you to present. If, you did ask, and found that the Accounts Payable was far too low, you might save yourself from having to spend 15 minutes on a presentation, which would have been good practice anyway. On the other hand, let’s say you ask the question, and maybe they have $500 million in AP, but they are turned off by the question, since you have not presented and shown any benefits yet. And now, either they do not let you present, or they are less open as they listen and view your presentation. We believe that asking about their Accounts Payable spend, or about anything else, for that matter, prior to the presentation, would be self-sabotage. You can ask after the presentation, or you will get the numbers when they send their supplier data. As they say, there will be time enough for counting, when the dealing is done.</p>
      </blockquote>
      
      <p><strong><strong>Will you give the same lead to more than one person?</strong><br></strong></p>
      
      <blockquote>
        <p>No, once we schedule a lead, we will not call them again.</p>
      </blockquote>
      
      <p><strong><strong>Should I ask what the caller has already discussed with them?</strong><br></strong></p>
      
      <blockquote>
        <p>Absolutely not. First, you would essentially be asking them to give you the presentation. Second, you would be telling them that you do not know what the staff says to prospects. Third, there is a very good chance that they are not going to remember exactly what was said and will be frustrated with the question.</p>
      </blockquote>
      
      <p><strong><strong>Should I ask if I have caught them at a good time?</strong><br></strong></p>
      
      <blockquote>
        <p>No, No and No. Of course, it’s not a good time. Whether they’re in the middle of something, or nothing at all, it is never a good time for what would be perceived as a sales</p>
      </blockquote>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-10 col-md-offset-1 center">
      <a href="lead-generation", class="btn btn-kontrol btn-lg">Return to Lead Gen</a>
    </div>
  </div>
</div>