<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h3>References</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <ul>
        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/References/Reference%20American%20Reading%20Co.pdf" target="_blank">American Reading Co</a></li>
        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/References/Reference%20Anybill.pdf" target="_blank">Anybill</a></li>
        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/References/Reference%20Central%20Bank.pdf" target="_blank">Central Bank</a></li>
        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/References/Reference%20Higginbotham%20Brothers.pdf" target="_blank">Higginbotham Brothers</a></li>
        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/References/Reference%20HOP%20Energy.pdf" target="_blank">HOP Energy</a></li>
        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/References/Reference%20Lake%20Regional.pdf" target="_blank">Lake Regional</a>
        </li>
      </ul>
    </div>
  
    <div class="col-md-5">
      <ul>
        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/References/Reference%20RLH%20Corporation.pdf" target="_blank">RLH Corporation</a></li>
        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/References/Reference%20St%20Olaf%20College.pdf" target="_blank">St. Olaf College</a></li>
        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/References/Reference%20Synovus%20Bank.pdf" target="_blank">Synovus Bank</a><br></li>
        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/References/Reference%20Woodland%20Park%20Zoo.pdf" target="_blank">Woodland Park Zoo</a></li>
        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/References/Reference%20Worldwide%20Supply.pdf" target="_blank">Worldwide Supply</a></li>
        <li><a href="http://www.kpaccountspayable.com/ResourceCenterDocs/References/Reference%20YMCA.pdf" target="_blank">YMCA</a></li>
      </ul>
    </div>
  </div>
