<%# if current_user.group == "bc" || current_user.group == "all" %>
  
  <div class="container pages">

    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <h3>Training Videos</h3>
      </div>
    </div>

    <p>&nbsp;</p>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="embed-responsive embed-responsive-4by3 clearfix">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/270997709" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-5">
        <div class="embed-responsive embed-responsive-4by3 clearfix">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/271027325" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="embed-responsive embed-responsive-4by3 clearfix">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/270997638" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-5">
        <div class="embed-responsive embed-responsive-4by3 clearfix">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/270997788" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="embed-responsive embed-responsive-4by3 clearfix">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/271027163" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-5">
        <div class="embed-responsive embed-responsive-4by3 clearfix">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>


    <!--<div class="row">-->
    <!--  <div class="col-md-8 col-md-offset-1">-->
    <!--    <h3>Kontrol Training Webinars</h3>-->
    <!--  </div>-->
    <!--</div>-->
    
    <!--<p>&nbsp;</p>-->
    <!--<div class="row">-->
    <!--  <div class="col-md-5 col-md-offset-1">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/244724165" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-md-5">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/244723898" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    <!--<p>&nbsp;</p>-->
    <!--<div class="row">-->
    <!--  <div class="col-md-5 col-md-offset-1">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/244723706" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-md-5">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/244723734" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    <!--<p>&nbsp;</p>-->
    <!--<div class="row">-->
    <!--  <div class="col-md-5 col-md-offset-1">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/244723815" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-md-5">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/244723831" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    <!--<p>&nbsp;</p>-->
    <!--<div class="row">-->
    <!--  <div class="col-md-5 col-md-offset-1">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/244723982" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-md-5">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/244724027" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
  
    <!--<div class="row">-->
    <!--  <div class="col-md-8 col-md-offset-1">-->
    <!--    <p>&nbsp;</p>-->
    <!--    <hr>-->
    <!--    <p>&nbsp;</p>-->
    <!--    <h4><span>Millionaire's Club</span></h4>-->
    <!--  </div>-->
    <!--</div>-->
    
    <!--<p>&nbsp;</p>-->
    <!--<div class="row">-->
    <!--  <div class="col-md-5 col-md-offset-1">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/251871977" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-md-5">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/251593026" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    <!--<p>&nbsp;</p>-->
    <!--<div class="row">-->
    <!--  <div class="col-md-5 col-md-offset-1">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/251661026" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-md-5">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/251660764" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    <!--<p>&nbsp;</p>-->
    <!--<div class="row">-->
    <!--  <div class="col-md-5 col-md-offset-1">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/254581128" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-md-5">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/257179067" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    <!--<p>&nbsp;</p>-->
    <!--<div class="row">-->
    <!--  <div class="col-md-5 col-md-offset-1">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/258085934" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-md-5">-->
    <!--    <div class="embed-responsive embed-responsive-4by3 clearfix">-->
    <!--      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/261678160" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--  </div>-->
    </div>
    <p>&nbsp;</p>
  
  </div>
  

<%# else %>
  <!--Wrong Group-->
<%# end %>