/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Muli:300,400);
@import "bootstrap-sprockets";
@import "bootstrap";

/* General styles */

body {
  padding-top: 90px;
  padding-bottom: 60px;
	background-color: #C6C5B9;

    // background: asset-url("8732.jpg") no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
}

.pages {
    background: rgba(255,255,255, 0.9);
    margin-top: -5px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
}


.double-border {
	border-style: double;
  border-radius: 10px;
}



// h1, h2, h3, h4, h5, h6 {
// 	font-family: 'Muli', sans-serif;
// 	font-weight: 300;
// 	color: #7CB25B;
// 	text-transform: capitalize;
// }

.dark-box {
	box-sizing: border-box;
	background-color: #383838;
	padding: 2.0em 1.5em;
	/* border-bottom: 4px solid #0a8fd5; */
	color: #fff;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	a:link {
    color: #7CB25B;
	}
	a:visited {
	  color: #7CB25B;
	}
	a:hover {
	  color: #7CB25B;
	}
	a:active {
	  color: #7CB25B;
	}
}

.btn-custom {
	background-color: #fff;
	color: #0a8fd5;
	font-family: 'Muli', sans-serif; 
	font-weight: 300;
	border-radius: 8px;
	padding: 10px 20px;
	&:hover {
		color: #383838;
		transition: 0.5s;
		background-color: #fff;
		text-decoration: none;
	}
}

.btn:hover {
	transition: 0.5s;
	color: #383838;
	background-color: #fff;
}


/* Navbar styles */

.navbar {
	background-color: #393D3F;
	color: #C6C5B9;
	font-family: 'Muli', sans-serif;
	text-shadow: 2px 2px 4px black;
}

.navbar-nav li a {
	color: #C6C5B9 !important;
  text-shadow: 2px 2px 4px black;
}

nav .navbar-nav li a:hover {
	background-color: #393D3F !important;
	 color: #546A7B !important;
}

.navbar-brand {
  padding: 0px;
  text-shadow: 2px 2px 4px #393D3F;
}

.navbar-brand>img {
  height: 100%;
  padding: 1px;
  width: auto;
}


/* Links styles */

.links {
	margin-top: 20px;
	.btn-default {
		color: #62929E;
	}
}


/* Prospect styles */

.prospect {
	box-sizing: border-box;
	background-color: #383838;
	margin-bottom: 25px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 1.4em 1.4em;
	height: 150px;
	border-bottom: 4px solid #0a8fd5;
	.prospect-title {
		font-size: 1.5em;
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		margin-top: 0;
		color: white;
		margin-bottom: 25px;
	}
	.btn-custom {
		margin-top: 20px;
	}
}

.prospect:nth-child(4n) {
	clear: left;
}

/* Prospect show-page styles */

.panel-heading, .panel-footer {
	background-color: #393D3F;
	color: #C6C5B9;
	h4 {
		text-shadow: 2px 2px 4px black;
	}
}

.prospect-show {
	box-sizing: border-box;
	background-color: #546A7B;
	padding: 2.0em 1.5em;
	/* border-bottom: 4px solid #0a8fd5; */
	color: #C6C5B9;
	font-family: 'Muli', sans-serif;
	font-weight: 100;
	text-shadow: 2px 2px 4px #393D3F;
	h2 {
		margin-top: 0;
	}
	.prospect-desc {
		font-size: 1.1em;
		line-height: 1.75;
		margin-bottom: 50px;
	}
	.prospect-posted-by {
		color: #C6C5B9;
		font-size: 0.9em;
	}
	.reply-to-prospect {
		margin-top: 50px;
	}
}


// Start Dashboard Styles

.dashboard-panel {
	border-radius: 25px;
	box-sizing: border-box;
	box-shadow: 6px 6px 5px gray;
	padding: 2.0em 1.5em;
	margin: 10px;
	/* border-bottom: 4px solid #0a8fd5; */
	color: white;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
  text-shadow: 2px 2px 4px #393D3F;
}

.dashboard-bckg-1 {
	background-color: #5CBAE6;
}

.dashboard-bckg-2 {
	background-color: #B6D957;
}

.dashboard-bckg-3 {
	background-color: #FAC364;
}

.dashboard-bckg-4 {
	background-color: #FF0080;
}

.dashboard-bckg-5 {
	background-color: #FBA100;
}

.dashboard-bckg-6 {
	background-color: #93B9C6;
}

.dashboard-bckg-7 {
	background-color: #b96eff;
}

.dashboard-bckg-8 {
	background-color: #DBDB46;
}

.dashboard-bckg-9 {
	background-color: #B4A198;
}

.dashboard-bckg-10 {
	background-color: #98AAFB;
}

.dashboard-bckg-11 {
	background-color: #FF4D4D;
}

// End Dashboard Styles



/* Comment styles */

.comment {
	border-bottom: .5px dotted;
	padding-top: 15px;
	padding-bottom: 15px;
	.comment-content {
		font-size: 1.25em;
	}	
	.comment-posted-by {
		color: #eee;
		font-size: 0.8em;
	}
}

.index-table {
	td, th {
    text-align:center; 
    vertical-align:middle;
	}
	.td-left, .th-left {
    text-align:left; 
    vertical-align:middle;
	}
	a:link {
    color: #FDFDFF;
	}
	a:visited {
	  color: #FDFDFF;
	}
	a:hover {
	  color: #C6C5B9;
	}
	a:active {
	  color: #FDFDFF;
	}
}

tfoot {
	color:white;
	font-weight: bold;
}

.bordered {
	td {
    border: 1px solid;
	}
}

.status {
	list-style-type: none;
}

.status-menu {
	list-style-type: none;
	a:link {
  	text-decoration: none;
    color: #000000;
	}
	a:visited {
		text-decoration: none;
  	color: #000000;
	}
	a:hover {
	  text-decoration: none;
    color: #000000;
	}
	a:active {
	  text-decoration: underline;
    color: #000000;
	}
}

.center {
  text-align: center;
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
 
.btn-slate {
	background-color: #62929E;
	border-color: #62929E;
	color: #FDFDFF;
}

.btn-beige {
	background-color: #C6C5B9;
	border-color: #C6C5B9;
	color: #393D3F;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #C6C5B9;
}